[2019-03-16 15:59] bparker06 commented on #7179
@tliron Also it is possible that even though other applications work, it can still be the hardware's fault and RA could still not be doing anything wrong.

Not saying that *is* the case, but it's entirely possible.

[2019-03-16 16:25] tliron commented on #7179
Unless RetroArch can provide better logs and debugging information I don't see us getting anywhere with speculation.

[2019-03-16 16:55] nfp0 commented on #8471
@bparker06 I tried running at multiple resolutions, including 1080p and lower resolutions. I tried exclusive fullscreen and windowed mode. I tried with multiple monitors and with a single monitor. I even tried on my TV.
It always exhibits exactly the same behavior.

@orbea I am on the most up to date nvidia driver. I re-checked.
I don't know if it might help dissect the problem but this bug came b

[2019-03-16 17:14] lilbud commented on #7179
@bparker06 Is there anything that can be done for Windows? Like fixing the usbhid driver for Linux, can that be done with Windows?

[2019-03-16 18:25] fr500 commented on #7179
@tliron it's up to the people experiencing the problem to get a debug trace.
You need to debug break when it appears to be taking long, hookup gdb and provide a stacktrace or whatever.

I have a K90, a logitech mouse, multitude of pads and I haven't experienced anything like this. Ever.

[2019-03-16 18:27] lilbud commented on #7179
@fr500 How would I go about doing this?

The debug trace thing

[2019-03-16 18:31] fr500 commented on #7179
You need to trigger the issue with the debug build (with gdb attached)
Debug break with this
www.mingw.org/wiki/Workaround_for_GDB_Ctrl_C_Interrupt

And then get a bt of what it's doing.

[2019-03-16 18:49] lilbud commented on #7179
Do I add that file to RA? Run it in the background?

(I am very much a noob when it comes to this stuff, bear with me)

[2019-03-17 00:14] retro-wertz commented on #8472
whats difference of just browsing to romhacking sites like romhacking, download patch and rename as needed? also, how to know if the patch requires a patched rom or not? who is gonna maintain database for this (ugh.. more database files....)

[2019-03-17 01:00] fr500 commented on #4664
Can't seem to repro on windows

[2019-03-17 01:05] fr500 commented on #4664
Try this diff with vulkan

[code]

[2019-03-17 01:25] fr500 commented on #4664
On other drivers we have guards too:

[code]

[2019-03-17 02:43] bparker06 commented on #4664
I'm unable to reproduce the issue on Linux or Windows, using a gtx1050.

[2019-03-17 03:42] orbea commented on #4664
@fr500 That doesn't build, but I tried this which didn't work unfortunately.
[code]

Can you or anyone else test with intel? Its possible that this is specific to mesa, radv or nvidia is doing something to avoid it.

[2019-03-17 10:15] Ferk commented on #8439
The bigger problem is the memory, not so much the speed.
You have to consider that playlists can be huge, someone could have thousands of games, so the JSON should be processed element by element, releasing memory after each element read and allow for pagination without having to keep the entire thing in memory.

This could be done in a simple way by using newline-delimited JSON (see http://jsonli

[2019-03-17 13:38] markwkidd commented on #7245
My understanding is that this PR just added the ability for the PS2 port of RetroArch to read CDs. The library: https://github.com/libretro/RetroArch/pull/8482

The "libcdvd" library seems to be PS2 specific but I wanted to make sure that the author of that patch @fjtrujy is aware of this bounty. Could it be that the PS2 implementation is a useful step towards a more generalized API for reading CD

[2019-03-17 13:39] markwkidd commented on #7245
## This bounty stands at $155 as of today.

[2019-03-17 13:46] bparker06 commented on #4664
That's why I asked what kind of GPU was being used :)

[2019-03-17 13:58] fjtrujy commented on #7245
Thanks @markwkidd for notifying me about this bounty.

[2019-03-17 15:03] orbea commented on #4664
Maybe you missed it?

https://github.com/libretro/RetroArch/issues/4664#issuecomment-473141385

Now that I think about it, it should also be possible to test this with nouveau and the glcore video driver, but I don't have a nvidia card pugged in anymore and just a AMD RX Vega 56.

[2019-03-17 15:33] orbea commented on #4664
@Themaister iirc you have radv too? By any chance can you reproduce this or know what's wrong?

[2019-03-17 16:23] fr500 commented on #4664
Did you test this code that's defined on other SLANG drivers?
https://github.com/libretro/RetroArch/issues/4664#issuecomment-473606905

[2019-03-17 16:33] geajack commented on #8439
Can you give an example of a playlist which would be parsed by the current code, but would fail to be parsed with a standard JSON parser? I'm struggling to see how that could be possible.

[2019-03-17 16:37] RobLoach commented on #8439
The problem is that we don't know whether the playlist is legacy or of JSON format. If we use a `.json` file extension, then there will be no question of which format it is. Have `.lpl` be the legacy playlist format, and `.json` files be the new ones.

[2019-03-17 16:38] orbea commented on #8471
@nfp0 You may wish to ask about this on the nvidia forums.

[2019-03-17 17:39] orbea commented on #4664
So that is wiiu, metal, d3d10, d3d11, d3d12, vulkan and glcore? I looked at all the drivers that use `video_shader_parse_type` and didn't see anything that helped.

[2019-03-17 22:55] bparker06 commented on #8484
There is this: https://github.com/meepingsnesroms/RetroArchOverlayEditor

But I don't know how complete or stable it is.

If someone was willing to write a thorough spec for one I would be willing to write an official in-tree editor.

[2019-03-18 00:41] orbea commented on #4664
I guess the problem is that its trying to compile the shader with the dummy core when content is closed.
[code]
This doesn't happen with the gl2 driver and glsl.

[2019-03-18 09:33] chuwchu commented on #7245
@anothername99 maybe the platform should be specified, like at least linux 64bits or windows 64bits.

[2019-03-18 14:24] orbea commented on #7560
@mick-p1982 Can you still reproduce this? The referenced issue was fixed and this one might be too.

Maybe I'm blind, but I don't seen an audio volume option to reproduce this?

[2019-03-18 15:14] markwkidd commented on #7245
Madnafen evidently uses libcdio: http://www.gnu.org/software/libcdio/

[2019-03-18 16:28] Shoegzer commented on #8418
@RobLoach I should just ask.. what is the point of maintaining BIOS.dat if it's not used?  Also it just seems to me that manual syncing between BIOS.dat and core info files is prone to error over time as they'll fall out of sync and with eventual lack of resources/interest.

@fr500 I see your point and agree that a solution based on an API extension seems elegant.  Although, external files invite

[2019-03-18 16:42] RobLoach commented on #8418
Correct, it's prone to human error, and things can get out of sync. Having BIOS.dat allows verifying your BIOS files with clrmamepro, or a similar program.

[2019-03-18 16:55] julianxhokaxhiu commented on #1521
Same under Gnome 3.32 on Arch Linux, using Vulkan driver with Intel/nVidia combination laptop.

[code]

[2019-03-18 20:31] mick-p1982 commented on #7560
I have not updated the software. If you can understand the problem, then you should be able to tell if it's still there.

Just play a game with music, and select the menu items. If they are negative numbers (in the menu) then the music volume should decrease, and not increase. -50 should be more quiet than -20. Not louder.

If someone has not addressed this bug personally, then it should probably

[2019-03-18 20:47] creamcast opened #8493 "(MacOS) non functioning Wiimote Nunchuk"
## Description
When using the nunchuk addon for the wiimote (Nintendo_RVL_CNT_01), retroarch is not detecting the analog or the buttons on it.

### Expected behavior
Everything should work.

### Actual behavior
Nothing works, expect for the buttons on the wiimote

### Steps to reproduce the bug
1. Plug in nunchuk to wiimote
2. Pair Wiimote with computer with Bluetooth
3. Go to retroarch input sett

[2019-03-18 22:36] orbea commented on #7560
This is why I asked you to reproduce it...but okay I looked again and the only option that looks relevant is `Volume Gain`. I tried `-33` using the drop down menu which was really quiet, then I tried `12` which was loud and `0` which was normal volume. It seems to work here, but I'm not sure this is how to reproduce it since your issue report is not clear on that.

Since you are not willing to rep

[2019-03-18 22:36] #7560 closed

[2019-03-18 22:45] orbea commented on #8493
Is this osx only?

[2019-03-19 00:32] Kopert commented on #7015
I'd also like to confirm that it works on 1.7.0 but does not work on 1.7.6.

I have installed version 1.7.6 on my Wii and could not get my (wired) DS3 to work, even with all the autoconfig files present.

After reading this thread I downloaded 1.7.0 and replaced that into my Wii, with the same autoconfig files I was trying to use before, and my DS3 controller worked on the first try.

[2019-03-19 02:00] metchebe opened #8495 "Qt5 GUI not using new shared thumbnail path for MAME 20XX playlists"
There has been a change to the thumbnail path for MAME cores. Now all MAME 20XX cores share the same thumbnail path, which is simply `thumbnails/MAME/`.

However, as of the current nightly build, the desktop Qt5 GUI is not using thumbnails from this path, it is still searching for images in the old paths, that is for the specific MAME 20XX directory in `thumbnails/`.

The result is that MAME thumb

[2019-03-19 02:53] missionfloyd commented on #8449
Okay, apparently they have a makefile over here: https://github.com/CompCom/RetroArch/tree/ps-classic, but haven't ~~shared with the class~~ submitted a pull request.

[2019-03-19 03:29] mick-p1982 commented on #7560
That is how the feature should work. But unless you used a menu that provide like -10 -20 -30 -50 you were using a different system. The manual input field was not the bug. It's all described here and in the linked discussion. I don't know why I have to keep commenting truthfully.

[2019-03-19 13:07] orbea commented on #7560
Seems right so far...

Feel free to test it out the current master yourself to make sure I tested it right.

[2019-03-19 14:17] twinaphex commented on #8449
OK so can you tell us the Makefile that is missing then?

[2019-03-19 15:34] orbea commented on #8436
Fixed in PR https://github.com/libretro/RetroArch/pull/8496 thanks to @jdgleaver.

[2019-03-19 15:34] #8436 closed

[2019-03-19 16:18] rsn8887 opened #8497 "Quickmenu Controls remapping issues (dropdown not working, etc.)"
## Description

When I start Retroarch, download the Dosbox core, load the Dosbox core (I doubt this is core-specific), start the core, go to quickmenu->controls, I see a bunch of problems:

### Problem 1)
a) I change `User 1 Device Type` from `Gamepad` to `Keyboard + Mouse`
b) I try to change the mapping of `B button` or any button
c) I cannot change it, it remains blank
d) I leave the submenu an

[2019-03-19 18:34] orbea commented on #8449
@twinaphex They seem to have 4 unique commits as of now.

https://github.com/CompCom/RetroArch/commit/9c1ed7ba8582ed304b5da9572fbf5c8d5a9f80e9
https://github.com/CompCom/RetroArch/commit/bbc773e643584c155e5042b394f5d771338b4b37
https://github.com/CompCom/RetroArch/commit/b6e91f7818dc42f7067f346d0fa802a328daee2b
https://github.com/CompCom/RetroArch/commit/6925cdf34ee2b9cfce25d465a4b5a853ad517c01

N

[2019-03-19 18:51] anothername99 commented on #7245
Either Windows or Linux is fine. But if you can only do one OS, it is preferable that there is room for someone to pick up the code and add support for another OS in the future.

[2019-03-19 19:15] missionfloyd commented on #8449
Sorry, I guess I could've been clearer about that.

What orbea said. The first one would be the makefile i"m talking about. 3 seems important too. 2 is just a theme, and 4 seems to be resizing screenshots to 160x128. You probably don't want that one.

[2019-03-19 23:09] fr500 commented on #8497
I wrote the remapping part, and most of this menu, and while I agree these
are important issues...
Those problems are more like general RA gui problems and I don't know how
to deal with them.

On Tue, Mar 19, 2019 at 11:18 AM rsn8887 <notifications@github.com> wrote:

[2019-03-19 23:22] fr500 opened #8499 "RetroArch AARC64 crashing with log-to-file enabled"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

RetroArch is crashing on exit with log-to-file enabled, weird thing is the 32-bit one doesn't
Disclaimer, I never said the PR was ready, and it was up there for review.

### Expected behavior

It sho

[2019-03-19 23:39] fr500 commented on #8499
I figure it's logging after the file is closed

[2019-03-19 23:50] fr500 commented on #8499
Seems ok with https://github.com/libretro/RetroArch/pull/8490/commits/b1c10aaf50b0b9cd263676af3142f0a17a39ab34

[2019-03-20 04:00] rsn8887 commented on #704
Why was this closed? A true analog deadzone is still missing. All we have is a misleading option that is called "deadzone" but it is an analog to digital conversion threshold instead (and correctly labeled so inside the source code).

[2019-03-20 04:12] rsn8887 opened #8502 "No true analog deadzone setting in frontend, but misleading option called "deadzone""
## Description

There's no real analog deadzone setting. There is currently an option called `deadzone` but what that really is is an analog-to-digital conversion threshold (default at 50%). Instead of having a frontend deadzone setting, seemingly every core that uses true analog controls implements its own deadzone hard-coded, or maybe with a core-specific option sometimes? See e.g. dosbox with a

[2019-03-20 04:47] orbea commented on #8499
So this is fixed now?

[2019-03-20 05:52] mick-p1982 commented on #7560
Okay, but I'm (like many others) just reporting a problem, as a Good Samaritan. I hope the software improves as a result. But reporting is all I can do, as I don't maintain this project. It's not like I'm a user that desperately requires a fix :)

[2019-03-20 05:58] twinaphex commented on #7560
@mick-p1982 Please just answer him directly and provide him with relevant information that he is requesting. He is a developer and he already explained to you what he can reproduce, he cannot proceed unless you provide him with the proper feedback. Also, test with the latest nightly, that way you and him are on the same page.

Either way, further confusing developers or evading direct questions is

[2019-03-20 08:24] mick-p1982 commented on #7560
@twinaphex I've answered this ticket out of politeness several times, always repeating the information provided in the first post. I think this is unnecessary. As far the bug goes, it's probably just a string of numbers in an array that are mapped backward. Anyone should be able to trace/fix it easily. It's trivial problem unworth discussion. The second post should have been a thank you and a fix,

[2019-03-20 13:37] orbea commented on #7560
@twinaphex I think you likely fixed this in commit https://github.com/libretro/RetroArch/commit/0e66da393078579f656f886b1adb9075ecef19bc, I at least couldn't reproduce any issues with the volume gain drop down menu...

[2019-03-20 13:41] orbea commented on #8497
There is an issue report for this one.

https://github.com/libretro/RetroArch/issues/6966

[2019-03-20 14:55] rapsaGnauJ opened #8507 "Scanning creates no playlist in Archlinux"
## Description

Scanning files or directories on a freshly installed RetroArch instance doesn't work in Archlinux. The scan procceds but no playlist is created or atleas visible to the user in the menu.

### Expected behavior

Playlist should be created with their respective contents.

### Actual behavior

No playlist is created or visible.

### Steps to reproduce the bug

1. Open RetroArch on Arc

[2019-03-20 15:27] orbea commented on #8507
Please answer these questions.

1. Do you have the core info files?
2. Do you have the database files?
3. Does your content match content found in the database files?

[2019-03-20 15:34] rapsaGnauJ commented on #8507
I have cores for all the titles. The scan is succesfull on my Android and Windows setups with the same content, so I assume that the titles are on the database.

About having the database file, I'm not really sure. I've downloaded it with the online updater and I have a bunch of .rdb files on ~/.config/retroarch/database/rdb.

[2019-03-20 16:05] orbea commented on #8507
How about the core info files? I don't mean the core files such as `snes9x_libretro.so`, but the info files like `snes9x_libretro.info`.

https://github.com/libretro/libretro-super/tree/master/dist/info

I am not sure if arch provides them, but they are available through the online updater. You will need a writable directory to download them.

[2019-03-20 16:23] gouchi commented on #8507
@rapsaGnauJ Can you check that you have the package [libretro-core-info](https://www.archlinux.org/packages/community/any/libretro-core-info/) installed ?

[2019-03-20 17:09] rapsaGnauJ commented on #8507
I've just downloaded the package and everything seems to work correctly. Thanks for the help.

[2019-03-20 17:15] orbea commented on #8507
Great! I'll close this then, please let us know if you have any more issues.

[2019-03-20 17:15] #8507 closed

[2019-03-20 21:21] bparker06 commented on #8495
There should not be any core-specific code in RetroArch and so I'm against adding it to Qt. Whoever added the existing code for that should have handled this through the core info interface instead and that code should not have been merged.

[2019-03-20 21:49] huwpascoe commented on #7419
Status: Parameter expansion done. Still waiting on the rxml PR.

[2019-03-21 03:17] mick-p1982 commented on #7560
I think if 0e66da3 fixed it, it would mean it implements the feature correctly, whereas the deferred implementation does not. In which case, if the old implementation is still around, it should still need to be hunted down and corrected.

[2019-03-21 08:16] swingflip commented on #8449
This make is wrong above and is incomplete. We are currently working on a local branch separate from origin and will be pushing a PR when it’s fully ready to mainline.

We aren’t going to make a PR to the main repo with the stuff half complete and with things missing. There are also some glaring issues with SONY’s wayland implementation which is also causing hefty issues with RA.

We are currently

[2019-03-21 10:06] jdgleaver commented on #8495
@bparker06 I don't like the MAME thumbnail hack either - I only added it to `menu_thumbnail_path.c` because that's how it was already done in XMB/Ozone. Since I manage my own thumbnails, it matters nothing to me if the 'MAME hack' is removed - but the issue is that there is only one 'standard' MAME thumbnail pack for users to download. For people who have this, the only alternative to the hack is

[2019-03-21 12:16] PKGaspi opened #8510 "Loading times are much longer when xinput bluetooth controller is connected (Linux)"
## Description

Openning RetroArch, loading content or toggling between windowed and fullscreen while a xinput controller is connected makes RetroArch loadtimes last much longer. Startup, for example, goes from very fast without the controller (almost instant, less than a second) to 22 seconds. Loading content and toggling fullscreen is more or less the same.

Connecting the device with RetroArch

[2019-03-21 12:29] bparker06 commented on #8495
we should add generically named fields to core info to deal with these... e.g. "thumbnail_path" for the MAME thing (set each mame core's info as `thumbnail_path = "MAME"` etc) plus whatever is appropriate for the tyrquake thing.

[2019-03-21 16:17] markwkidd commented on #8502
Given what you have said about this feature, renaming it would be an obvious improvement.

I guess I will be the first one to tag @fr500 who will inevitably be asked for an opinion

[2019-03-21 16:20] markwkidd commented on #8495
I agree that the combined MAME thumbnail pack is not a good idea. I don't believe that it actually serves its intended purposes, including saving bandwidth, and that we should have different thumbnail packs for the different MAME versions since they don't necessarily even share the same names for the same games across the years.

I also agree that it would be good to add a `thumbnail_path` field t

[2019-03-21 18:34] hizzlekizzle commented on #8502
Having a frontend-configurable universal deadzone would indeed be a good feature, as would a universal analog value multiplier (e.g., 50%-200%)

[2019-03-21 19:33] YoderComixinc commented on #5468
I was playing Pokemon Silver today with the mGBA core (retroarch wii), and when i tried to save state, it crashed. can anyone help??

[2019-03-21 19:39] ghost opened #8512 "[Wii] Save Glitch"
I was playing Pokemon Silver today on the mGBA core, and when I tried to save state, it crashed. If anyone can help with this, it would be much appreciated.

[2019-03-21 20:32] metchebe commented on #8495
As I'm not a programmer, I would like to share these comments as a grateful user:

Whatever the decision is, I think it is important to maintain consistency across all of the user interfaces in the Retroarch family (Retroarch and its menu drivers, the Qt5 GUI, side projects like Ludo and db.libretro.com). The `thumbnails/<playlist name>/` path works well across all of them.

Also I would like to l

[2019-03-21 21:26] rsn8887 opened #8513 "Usability improvements to "Configuration File" menu"
## Description

The names of entries of "Configuration File" menu are misleading and hard to use. They should be explained using fine-print, or renamed.
Problems:
a) `Load configuration`. This shows `retroarch.cfg` next to it, but when I select the option, I get a file selection sub menu. Why is it showing a filename there to begin with?
b) `Save current configuration` This option should show whic

[2019-03-21 21:42] RobLoach commented on #8512
Need logs.

[2019-03-21 22:39] YoderComixinc commented on #8512
What is a log? i am new to github

[2019-03-21 22:51] YoderComixinc commented on #8512
or, does it have something to do with retroarch??

[2019-03-21 23:05] #8449 closed

[2019-03-21 23:08] RobLoach commented on #8512
https://docs.libretro.com/guides/generating-retroarch-logs/

[2019-03-21 23:41] twinaphex commented on #6722
Hi there @alphanu1,

you can claim this bounty now. Just submit a solution and I'll approve of it.

BTW - since I felt that it wouldn't be right letting you walk out with only $15, I added an extra on top. Thanks a lot for the great work!

[2019-03-22 01:15] markwkidd commented on #7245
Bounty is up to $265 thanks to a $100 contribution from libretro organization bounty funds!

[2019-03-22 01:19] markwkidd commented on #7830
Bounty up to $90 thanks to a $60 contribution from libretro organization bounty funds!

[2019-03-22 03:43] rsn8887 opened #8514 "Wrong icons in Input Bind menus"
## Description

Wrong icons in Input->User 1 Binds

### Expected behavior

The icons for DPAD UP/DOWN etc. should be correct

### Actual behavior

The icons are shifted by a row or so, so they are wrong. See screenshot below. The bottom button icon is next to User 1 Mouse Index, not User 1 B Button.

[![2019032122412900-D0-B9-AC9357-A3561-F8-D041-C64209-A70-F0.jpg](https://i.postimg.cc/YCgLty26/20

[2019-03-22 05:08] rsn8887 opened #8515 "[Menu] No way to erase binding without a keyboard"
## Description

No way to erase a binding without a keyboard

### Expected behavior

There should be a retropad key to erase a binding in the menu. For example “hold start for 2 seconds to un-bind”. There’s a button to reset a binding to default. That’s start. But there’s no button to erase a binding (set to empty). On a keyboard this can be done by pressing DEL. But some platforms don’t have a ph

[2019-03-22 05:09] fr500 commented on #8515
It's true, you can't unbind.
That said it's not really something required unless you're actually hooking up a keyboard.

Only then this becomes a problem, and then you can unbind just fine.

[2019-03-22 07:43] alphanu1 commented on #6722
Thanks @twinaphex

The solution should be on bountysource. Let me know if theres issues.

[2019-03-22 13:01] orbea commented on #8515
What button on a gamepad would you propose should delete keybinds?

[2019-03-22 13:02] orbea commented on #8514
Is this a specific assets theme or does it affect them all?

[2019-03-22 13:52] YoderComixinc commented on #8512
So, I need to record some data... well I will try to get more specific later, but now i will describe it as detailed as possible. So, there I was, playing Pokemon Silver on my Wii using Retroarch. I had beat the first gym in violet city. Also, my cyndaquil had evolved into quilava. I opened the menu-thingie by pressing the home button. I went over to "Save State" and clicked it. Everything was goi

[2019-03-22 13:59] YoderComixinc commented on #8512
This is why I have changed into a sad frog.

[2019-03-22 14:03] YoderComixinc commented on #8512
Ummmm..... Lets keep this on Github. 😨🤔

On Thu, Mar 21, 2019 at 7:08 PM Rob Loach <notifications@github.com> wrote:

[2019-03-22 15:09] rsn8887 commented on #8514
I don’t know just using whatever is default

[2019-03-22 15:24] fr500 commented on #8514
It's most likely a switch specific issue due to the addition of Split Joy-Con.
Offsets are important in the menu code.

[2019-03-22 22:28] HarryTheTurtle opened #8518 "Playlist Issues"
I'm having trouble with adding some games to the playlist. Some games will not scan in the directory they are currently stored in but will properly be added to the playlist if I scan the parent directory the games are in. Scanning the parent directory takes forever because it has to scan every game again.

Some games will not add to the playlist no matter how I scan them like Digimon World Champio

[2019-03-22 22:45] huwpascoe commented on #7419
Repeating elements done.
(Still waiting on rxml PR to be merged)
![image](https://user-images.githubusercontent.com/1812087/54856756-07512380-4cf4-11e9-8626-0c51f991c289.png)

[2019-03-23 01:23] creamcast commented on #8493
I tried connecting on Windows 8 on the same machine, Retroarch would detect the controller but none of the buttons worked wiimote or nunchuk. Next I might try linux.

[2019-03-23 01:24] rsn8887 commented on #8515
Not sure, maybe hold start for a long time (2 seconds or so)? Short press of start is already "reset to default".

[2019-03-23 01:24] rsn8887 commented on #8515
And select is already reserved for context help.

[2019-03-23 01:34] fr500 commented on #8515
there is no help in that entry so it could be used all the same

[2019-03-23 02:26] twinaphex commented on #7419
OK, the RXML PR has been merged.

[2019-03-23 02:35] ShadowOne333 opened #8519 "[WiiU] Ozone Menu Driver - Playlists bug"
## Description

When opening RetroArch, browse to playlists  Names of the games are listed, but as soon as focus is shifted to try to select a game, the names of the games disappear. However, you can see the thumbnails for each one, and even go through them by pressing up/down and the thumbnail changes, the names simply don't show up.

Interestingly enough, if you run up any game, go back to the R

[2019-03-23 02:56] fr500 commented on #8519
Try taking a picture of the problem if you can

[2019-03-23 03:08] fmorency commented on #8510
I'm also having this issue. I'm using Lakka and reported issue [594] a while ago.

  [594]: https://github.com/libretro/Lakka-LibreELEC/issues/594

[2019-03-23 03:53] ShadowOne333 commented on #8519
Here is the post in Imgur:
https://imgur.com/a/i3z1vw1

And the order of the images:

1) Browsing to playlists with RetroArch just opened:
https://i.imgur.com/bbwOUZ4_d.jpg?maxwidth=640&shape=thumb&fidelity=medium

2) Changing the focus to the game names list triggers the bug:
https://i.imgur.com/MGRwS9x_d.jpg?maxwidth=640&shape=thumb&fidelity=medium

3) However, opening up the list while a game i

[2019-03-23 13:41] ekeeke commented on #8402
Should now be fixed by this commit
https://github.com/ekeeke/Genesis-Plus-GX/commit/e819af455344b998669cfd4a8489d29470b77da7

I tested it by saving/loading state while Boot ROM or loaded ROM is running and it seems fine.

[2019-03-23 14:15] Ryunam opened #8521 "[Ozone] Image playlist showing core association, playtime log and last played"
As the title says, current build is displaying additional information for each playlist entry in the Image playlist (and possibly also the Music and Video playlists, but I have those disabled at the moment), including core association, last played date and playtime log.

Especially the latter two display no relevant data for that kind of playlist as per @jdgleaver's code, so they should probably n

[2019-03-23 14:21] orbea commented on #8402
@summonthethunder Can you update your Genesis-Plus-GX core and confirm if its fixed or not?

[2019-03-23 14:23] orbea commented on #8519
Can you check if this is only ozone or does it affect other menu drivers too?

[2019-03-23 14:24] orbea commented on #8518
They may not match the content in the database files.

I'm not sure about the other issue.

[2019-03-23 14:25] orbea commented on #8521
Is this only with ozone?

[2019-03-23 15:04] Ryunam commented on #8521
I can confirm that on XMB at least 'last played' and 'playtime log' do not appear in the corresponding sublabels for this type of playlist. Only core association shows up.

[2019-03-23 16:20] ShadowOne333 commented on #8519
Changed the driver to XMB and they do display fine. Seems to only affect Ozone.

[2019-03-23 21:43] HarryTheTurtle commented on #8518
I can see that these games are in the RDB files but I'm not sure what data is conflicting with the ROMS I have that is causing them to not appear in my playlists.

[2019-03-23 22:33] huwpascoe commented on #8515
Thinking either:
* Have a countdown timer after selecting "bind" where if the user doesn't press anything, it unbinds whatever was there
* Pressing what has already been bound, unbinds it. If a button is bound to 'Z', selecting "bind" and then pressing 'Z' again, will unbind it.

[2019-03-24 02:59] RobLoach commented on #8518
The files you're scanning likely don't have the same CRC value as what's in the database. You'll either need to...

- Apply a patch to the file so that it matches what's in No-Intro
- Add them in manually, or
- Build the playlist using a playlist generator like https://www.marcrobledo.com/retroarch-playlist-editor/

[2019-03-24 12:54] tatundria opened #8523 "[Switch] - Can’t get mame 2003 thumbnails to show"
MAME 2003 thumbnails are not appearing anymore. They used to work with the previous version of retroarch. The rest of the system thumbnails work perfectly. Any fix?

[2019-03-24 14:02] orbea commented on #8523
We have an issue template for a reason.

[2019-03-24 14:49] orbea commented on #8521
How? I can't find any way to disable these, figuring out how to enable them was hard too... We have a issue template for a reason...

[2019-03-24 14:53] HarryTheTurtle commented on #8518
Thanks Rob. I see what I need to do now to match the No-Intro database although it is a complicated, frustrating, and confusing process to patch the files. But that is my problem.

Thanks for telling me about the Marcobledo. I used it to create my playlist but unfortunately creating a playlist this way does not display thumbnails.

I understand what the problem is now and how to fix it. Thanks a l

[2019-03-24 14:53] #8518 closed

[2019-03-24 15:06] Ryunam commented on #8521
What I meant was that I have hidden the Music and Video playlists, by going to Settings -> User Interface -> Views, then setting both "Show Music tab" and "Show Video tab" to OFF.

[2019-03-24 15:34] orbea commented on #8521
Sorry, but that just confused me more...

I see that those `Show Music tab`, `Show Video tab` and etc. require restarting RetroArch to take effect, but I don't understand what that has to do with core association, playtime log or last played?

[2019-03-24 15:39] orbea commented on #8515
This could be annoying if the option is selected accidentally or the user wants to only set a few of the binds.

What if the `Z` key is missing or otherwise broken?

This might be workable and `select` might be fine too as fr500 said.

[2019-03-24 15:50] summonthethunder commented on #8402
Just tested it and it seems to work!  I recreated the earlier steps and I can't reproduce it after a core and assets update.

[2019-03-24 15:50] Ryunam commented on #8521
The reason why I had mentioned the Music and Video tabs is that I don't know if core association, playtime log and last played date information is being displayed for those tabs as well, since I have them hidden at the moment.
I can only speak with regards to the Image tab, the one that I have enabled and that I typically use to check the screenshots taken with RA.

[2019-03-24 17:22] markwkidd commented on #7419
hi @yesfish ! I wanted to make sure you noticed that there are a few C89-compliance buildfixes that went in earlier today to the RXML code: https://github.com/libretro/RetroArch/commit/cec06a08592c7987be275e18ffb19756f889af19#diff-81b71231d907f8341dcffc8b7082d3c7

[2019-03-24 17:39] orbea commented on #8402
Great, thanks for testing and thanks a lot for taking the time to fix it @ekeeke.  Unless someone else can reproduce this again in the future I'm going to close this as fixed. :)

[2019-03-24 17:39] #8402 closed

[2019-03-24 17:45] orbea commented on #8521
Oh, I see what you mean now, I'm not sure its very useful to have that information in the images, videos and music playlists, but it might be more useful in the future if there are alternative cores that can load the same content are available. There are already two video player cores, ffmpeg and libmpv (Which uses ffmpeg).

@jdgleaver Do you think its worthwhile to show core association, playtime

[2019-03-24 18:17] jdgleaver commented on #8521
@orbea When I implemented playlist sublabels, I included core name on everything, but only added runtime/last played to history, favourites and 'normal' collection playlists (i.e. not on images, music or video)

I still think that's a pretty good way to handle things.

I imagine the issue reported here was just a tiny oversight in ozone (which doesn't use sublabels at all now) - in fact, I think i

[2019-03-24 18:54] orbea commented on #8521
Thanks for helping explain, I think that is a reasonable approach and I see that this only a problem in ozone. Unfortunately the fix doesn't seem to be as trivial as you suggest.

With some printf debugging I see that `ozone->selection_core_name` is actually `Core: imageviewer` which is why it doesn't match, but if that is changed it doesn't show even the core name like in xmb/glui (How do you see

[2019-03-24 18:57] natinusala commented on #8521
It looks like I forgot to change that when I changed the layout from two columns to one column. `ozone->selection_core_name` went from `imageviewer` to `Core: imageviewer`.

I know how to fix it, I'll submit a PR tomorrow probably

[2019-03-24 19:09] orbea commented on #8521
Thanks, I appreciate it!

[2019-03-25 00:30] bparker06 commented on #8502
I noticed this too just yesterday. My xbone controller's right analog was drifting for some reason... I tried setting the deadzone option even to 1.0 and it still had no effect. I think the frontend should definitely have both a real deadzone and a sensitivity/multiplier option.

[2019-03-25 12:22] rapsaGnauJ opened #8525 "Can't launch content on certain cores if rewind is on."
## Description

Certain cores (tested with Dolphin and PPSSPP) crash on content startup if rewind is activated on RetroArchs configuration. I understand that those cores may not be compatible with the rewind feature, but making the user change the configuration every time they launch is it in my opinion not the correct solution. Not even a specific error is shown to the user, just a straight crash

[2019-03-25 20:09] tatundria commented on #8523
Ok, I have updated it with the issue template.

Still, I can't get the thumbnails to work with MAME 2003 playlist

[2019-03-25 23:53] huwpascoe commented on #7419
Hooray

Now we can only blame my glaring C violations for overflows! PR coming soon

[2019-03-26 10:37] metchebe commented on #8523
For recent builds, there has been a change to the thumbnail path for MAME cores. Now all MAME 20XX cores share the same thumbnail path, which is simply `thumbnails/MAME/`. I believe this should be the cause of the issue.

I have no experience with the Switch so I don't know how/if you can rename this directory on this platform.

[2019-03-26 14:35] orbea commented on #8502
@rsn8887 Can you please test the master and see if PR https://github.com/libretro/RetroArch/pull/8527 solves this for you?

[2019-03-26 17:31] pigsonthewing12 opened #8528 "Unable to edit "Bind Hold" Option with touch, mouse or drop down menus."
## Description

Cannot edit "Bind Hold" option

### Expected behavior

When I touch "Bind Hold" to change the default value, a menu should pop up with an option to change the default value of "2" to "another number"

### Actual behavior

When I touch "Bind Hold" to change the default value, the background of the field turns light blue to indicate it has been clicked, but nothing happens. I am unab

[2019-03-26 20:32] rsn8887 commented on #8515
I feel like select might be best, since it is
a) Logical. Since start is reset to default, so it makes sense that select also does something
b) Discoverable. People will probably try select if they are looking for this option. They will never try holding start for 2 seconds.
c) Available, I think almost all controllers that have a start button also have a select button

[2019-03-26 22:27] fr500 commented on #7830
I really don't understand the need for this request.
At least for one input device controlling multiple retropads.

I just tried SNES9X, Contra 3, started the game in 2 player mode.
Then I went to settings and made sure that my gamepad was set the same for both players:

![image](https://user-images.githubusercontent.com/1721040/55037490-f6eac280-4feb-11e9-8b3e-094233253fc9.png)

![image](https://

[2019-03-26 22:40] rsn8887 commented on #7830
Awesome, give the man the bounty (or half, because 1 to N seems solved, but N to 1 not yet).

[2019-03-27 00:42] Kiaos commented on #8408
This is for iOS not pc for iphones

[2019-03-27 06:53] barbudreadmon commented on #7830
@fr500 the other part is basically for people having bartops/cabinets, they have 2 minimalistic controllers (generally 1 stick + 6 buttons), and i think the general idea is that they want to use this setup to play twin-stick shooters and the likes (2 gamepads => 1 player).

[2019-03-27 08:32] grant2258 commented on #7830
I agree the info you where given is very vague. What is needed is the ability to map more than one physical controller to a player.

[2019-03-27 22:11] micsthepick opened #8531 "Pressing delete key does not remove menu configurations"
## Description

Pressing delete will clear input bindings, but it does not clear configurations such as "audio device". Pressing retro-pad buttons does not appear to work either, unless they are pressed from a physical controller and not a keyboard

### Expected behavior

Pressing delete should clear (or default) the menu items.

### Steps to reproduce the bug

1. Use latest Windows executable
2.

[2019-03-27 22:21] fr500 commented on #8531
Space is default.
Delete is just for a few things.

On Wed, Mar 27, 2019 at 5:11 PM micsthepick <notifications@github.com>
wrote:

[2019-03-28 00:00] micsthepick commented on #8531
that works, but I reckon delete should also work.

[2019-03-28 00:57] huwpascoe commented on #7419
About the settings for this, should they share the overlay submenu or get their own layout submenu?

[2019-03-28 01:18] markwkidd commented on #7419
I would suggest that the settings go in `Settings` -> `Onscreen Display`.

In that location the new artwork settings (perhaps called "Onscreen Artwork") would be alongside `Onscreen Overlay` and `Onscreen Notifications` but not within the `Onscreen Overlays`

[2019-03-28 01:27] markwkidd commented on #8528
RetroArch 1.7.6 was released on February 4. Could you update your installation and see if the problem still exists?

[2019-03-28 01:31] pigsonthewing12 commented on #8528
Hey.

Id be happy to as soon as I see the update on the store. I just checked but
it still says 1.7.5 and doesn't let me update it.

See the screenshot attached

On Wed, Mar 27, 2019, 9:28 PM markwkidd <notifications@github.com> wrote:

[2019-03-28 01:43] pigsonthewing12 commented on #8528
Hey. So I just realized you said Feb 4th. Since I don't see it on the store, I manually downloaded and installed the apk. Unfortunately, the problem still persists for me on version 1.7.6

[2019-03-28 01:56] markwkidd commented on #8528
I can't see anything out of the ordinary in that part of the source code, but the relevant section isn't really the bind hold code rather than the settings code I would imagine. Hopefully someone else with the relevant experience will be able to help.

Just to confirm: can you change the value of other settings in the same menu as the Bind Hold values?

[2019-03-28 02:05] pigsonthewing12 commented on #8528
Some of them I can and some of them I can't.

I can edit:
Max Users
Unified Menu Controls
Poll Type Behavior
Menu Toggle Gamepad Combo
Menu Swap OK & Cancel Buttons
All Users Control Menu
Remap Binds Enable
Autoconfig Enable
Analog Stick Deadzone
Input Hotkey Binds
Input User Binds (1, 2, 3, 4, 5)

Cannot Edit:
Bind Timeout
Bind Hold
Turbo Period
Duty Cycle

[2019-03-28 03:13] fr500 commented on #8528
That means those don't have touch/mouse callbacks set

On Wed, Mar 27, 2019 at 9:05 PM pigsonthewing12 <notifications@github.com>
wrote:

[2019-03-28 09:40] natinusala commented on #8521
Sorry for the delay, I had some spicy Switch stuff to do first - the fix is here: https://github.com/libretro/RetroArch/pull/8532

[2019-03-28 11:56] pigsonthewing12 commented on #8528
That makes sense. How do we get that fixed?

[2019-03-28 13:46] YoderComixinc commented on #8512
Hello?? Are you there??

[2019-03-28 15:16] orbea commented on #8531
Delete removes the key which is not applicable for all settings and space resets to the default which is again not applicable for all settings.

This is working as intended, but its true that there doesn't seem to be a way to remove the binds with a gamepad. See: https://github.com/libretro/RetroArch/issues/8515

[2019-03-28 15:16] #8531 closed

[2019-03-28 15:19] orbea commented on #8528
The drop down menus are also missing for these.

[2019-03-28 18:36] rsn8887 commented on #7830
The solution of mapping binding two users to the same controller in settings->input works perfectly (1 to N). I verified it here: https://github.com/fr500/dosbox-svn/issues/5#issuecomment-477719061

[2019-03-28 18:46] orbea commented on #8525
Its crashing here too on Linux, but I haven't gotten around to trying to figure out why. Its like a core issue, but getting a backtrace with debugging symbols for both the core and RetroArch will be helpful.

Its a known issue with ppsspp-libretro at least that the save state code implementation is buggy and tends to crash and could likely be the same issue or related to this.

https://github.com/

[2019-03-28 21:07] Tatsuya79 opened #8534 "Remap Menu Suggestion, easier to use"
This is a sketch about something we discussed several times with Radius to make the remap menu easier to use, in line with other solutions (like Snes9x or MAME).

This is the current remap menu in XMB:
![remap-atm](https://user-images.githubusercontent.com/6266038/55192085-001e8f80-51a4-11e9-83e6-6b405fda22b5.png)

This is the goal to attain:
![remap-new](https://user-images.githubusercontent.com/

[2019-03-28 22:37] fr500 commented on #8534
[code]

This part wasn't including on my outline, that would complicate things a lot.
Other than that it's all feasible, if only very time consuming

[2019-03-29 00:02] #8521 closed

[2019-03-29 02:01] huwpascoe commented on #7419
Progress report:

The menu system is terrible and I hate it very much. This will take longer than I thought.

[2019-03-29 03:16] Zenjir0 commented on #7749
I too, am getting the exact same behavior as Tatsuya79. I'm using a GTX 770 with the latest drivers 419.67 on Windows 7 64bit.

[2019-03-29 04:31] ziltama commented on #7830
I'm also interested in the "N to 1" feature. This is mainly helpful for emulators outside of MAME, which allows much more freedom for remapping in both 1 to N and N to 1 (although there seems to be a bug not allowing more than 4 controllers being detected for MAME in retroarch, which is not a problem in standalone MAME).

Scenario Example:
Let's say I'm using Reicast core. I want to use a fight/ar

[2019-03-29 12:58] RobLoach commented on #8512
Yes, sounds like the file failed to save? Would be good to check that the directories exist and your Wii can write to them.

Other than that, having the logs would really help in determining what went wrong. Thanks!

[2019-03-29 13:28] YoderComixinc commented on #8512
OK..... I have played many other games on retroarch, and they all save fine. I am wondering if it has something to do with the ROM.

[2019-03-29 13:47] YoderComixinc commented on #8512
Also, according to your website, there is no way to record logs on Nintendo consoles other that the switch.

[2019-03-29 13:55] YoderComixinc commented on #8512
This doesn't have anything to do with the issue. but, does retroarch wii have a n64 core?

[2019-03-29 14:50] Ferk commented on #8534
Reversing the retropad binds and the core actions would also cause compatibility-breaking problems since it changes the functionality.

As it is right now you can have more than one retropad buttons associated to the same core button, which would not be possible if the core button was in the left column.

[2019-03-29 14:56] Ferk commented on #8534
Personally, the thing I find a bit annoying is that you have to cycle through the core buttons/actions one by one without really knowing when the control you want will show up.

It would be more comfortable if it opened in a selection/drop down list, like what was introduced in 1.7.5 for other options.

[2019-03-29 15:16] i30817 commented on #8525
I believe there are several problems with savestates early on emulator boot for many cores.

I remember reading about (but not the issue numbers) of problems with _loading_ states on boot (from the option to restore the last savestate automatically) and netplay problems, so it's not surprising that rewind also has problems.

[2019-03-29 15:48] Tatsuya79 commented on #8534
Nope, the remap files can stay the same, that's just redirection (for the basic changes, could be different later on).
You can still do multiple binds as you push a button and it gets added on top of the previous one.

[2019-03-29 15:50] YoderComixinc commented on #8512
Alright. Here is what it says:

:Exception (I:SI) occurred!
*bunch of numbers*

Stack Dump:
*bunch of numbers*

Reloading in 18 seconds;

Reload;

[2019-03-29 15:50] YoderComixinc commented on #8512
Also note that it wouldn't allow me to reload

[2019-03-29 15:51] YoderComixinc commented on #8512
This also happens when I try to load a game on the wrong core.

[2019-03-29 15:52] YoderComixinc commented on #8512
Sometimes it also has:

Core Dump:
*bunch of numbers*

[2019-03-29 20:47] huwpascoe commented on #7419
### How to get retroarch file browser to filter custom file extensions.
Or how to `filebrowser.filter = "*.etc";`

---

Step 1: Have your menu item set up as in this guide https://docs.libretro.com/development/retroarch/new-menu-options/ and copy paste from other file path properties to get the right setting.

Step 2: Add a new entry in menu_displaylist.h `DISPLAYLIST_ETC,`

Step 3: Copy paste one

[2019-03-29 21:19] markwkidd commented on #7419
@yesfish based on the way you wrote that post, are you interested in having
your file extension guide added to the libretro docs?

On Fri, Mar 29, 2019, 4:48 PM yesfish <notifications@github.com> wrote:

[2019-03-30 01:10] huwpascoe commented on #7419
@markwkidd Once all this is done, maybe. At least it's written down somewhere for now.

[2019-03-30 03:28] fennectech commented on #7543
i have this on fat32

[2019-03-30 08:34] daliaetnano commented on #6747
Hi @essm1988 and @natinusala
I have updated my fix for #6747 to make the unload of texture more reliable.
If the video thread is not initialized, the texture is unloaded in the main thread (like before my fix).
The fix is in the same branch https://github.com/daliaetnano/RetroArch/tree/fix-6747-black-bug-switch
If one of you could test it on switch when you have time that would be great.
Thanks
Na

[2019-03-30 16:15] stellarporter opened #8536 "Android: RA sending raw zipped roms to core."
Opening this issue for user @leoxxx.
https://github.com/libretro/beetle-ngp-libretro/issues/47

## Description

It's been discovered that the Android frontend sometimes correctly unzips the rom and sends it over to the core for loading. But for several zipped roms, it skips the unpacking process and transfers a raw PK binary, which soft crashes the core. Compiling core with LOAD_FROM_MEMORY flag d

[2019-03-30 19:01] stellarporter commented on #8536
@leoxxx
Would you mind trying a few stable Android Retroarch builds from 1.7.4, 1.7.5, 1.7.6 and confirm whether the problem still exists?

[2019-03-30 20:03] stellarporter commented on #8251
@Liviki980
Does it happen in windowed mode and fullscreen? Could you try a few test builds?

https://github.com/libretro/RetroArch/commit/80f89479bfc35bc19f517dd1bd90eb033b08a14b https://ci.appveyor.com/project/stellarporter/retroarch/builds/23479108/artifacts
https://github.com/libretro/RetroArch/commit/c9bb537cdd33736c800a4c9ed30f8ead33bf4369 https://ci.appveyor.com/project/stellarporter/retroar

[2019-03-30 21:08] Julink13 commented on #8411
How would I install a nightly version on windows 10?

[2019-03-31 02:24] leoxxx commented on #8536
I'm using the 1.7.5 stable now.

[2019-03-31 02:41] huwpascoe commented on #7419
Config and menu seem to work.

Now for the main task. There are two issues that need addressing:

Mame layouts require control over where screens are positioned. Retroarch's video drivers are inconsistent with their implementation of `set_viewport()`. Some video drivers don't implement it at all, and others frequently change and reset the viewport multiple times during a frame, sometimes even inte

[2019-03-31 10:58] daliaetnano commented on #8439
I suggest to get rid of the legacy format by providing a conversion script.
The format of the legacy format is so simple. A conversion script can be easily written in any scripting language: python, shell...

[2019-03-31 12:56] bparker06 commented on #8439
@natinusala @Ferk The JSON playlists are already parsed one element at a time and it isn't kept in memory... the performance was also measured to be completely unnoticeable on the tested platforms vs the old format (I know Switch was one of them).

The only thing that's kept in memory is the final playlist_t structs that the JSON feeds into, which was always the case even with the old format.

[2019-03-31 13:09] natinusala commented on #8439
So nothing prevents us from doing this:

- Parse the playlist as JSON - if it succeeds, it means that it's the JSON format -> use it
- If it fails, parse it using the old format (or convert it) -> use it

[2019-03-31 22:57] huwpascoe commented on #7419
Second issue solved, I've been stupid for not noticing this: The background layer is drawn over black. Don't need to change the viewport rendering at all, can just draw the background over with additive blend.

[2019-03-31 23:31] hizzlekizzle commented on #7419
Good plan.

[2019-04-01 00:06] fennectech opened #8539 "Retroarch farwarder NSP"
This retroarch NSP simply launches the nro at /switch/retroarch_switch.nro meaning we no longer have to update the NSP on the site if we use that.   It also eliminates the problem of having an outdated NSP and lauches as if it were launched by title takeover from hbmenu.
https://www.reddit.com/r/SwitchHacks/comments/b7mc9e/retroarch_forwarder_any_version_nsp/

[2019-04-01 03:34] yoshisuga commented on #5519
Can we close this so I can get the bounty?😄

[2019-04-01 03:39] yoshisuga commented on #8383
Without knowing what version you’re actually using, it’s hard to tell what the issue is, and whether it’s related to the cores you’re using too.

I haven’t seen any issues on the latest RetroArch on iOS 12 and tvOS 9

[2019-04-01 14:32] m4xw commented on #8539
@fennectech Just stop it.
It was not dropped because of that.

[2019-04-01 15:13] #8539 closed

[2019-04-02 05:02] huwpascoe commented on #7419
Hacky attempt so not in PR yet, but yay I can get it to show up mostly fine. Actual emulation depicted.
![image](https://user-images.githubusercontent.com/1812087/55377309-43626080-550c-11e9-8ca6-2d52fbd09e91.png)

[2019-04-02 15:56] orbea commented on #5519
@yoshisuga I can't test this, has anyone else confirmed this if this issue is resolved yet?

[2019-04-02 16:59] UDb23 commented on #7419
Absolutely gorgeous !! Well done.

[2019-04-02 16:59] UDb23 commented on #7419
How's game performance ? Do you notice any slowdown?

[2019-04-02 19:46] aaronouthier commented on #5519
I have my trusty MacBook Pro running Mojave and my Apple TV 4th Gen.
I will be testing this shortly. I had to reload my MacOS and am re-setting everything up. Trying to download Xcode now. At 2.8 of 6.08 GB.

[2019-04-02 21:55] aaronouthier commented on #5519
It seems to work fine for me on the latest Xcode.
I should mention: When I open the project, it prompts me to automatically apply some recommended actions. I canceled this, and left things the way they were. Perhaps this is the issue some are having?

Now if you'll excuse me for a moment, I've gotta score to settle with the DragonLord.
I love Dragon Warrior for NES!

[2019-04-03 03:09] hizzlekizzle commented on #8536
@retro-wertz just added the npc extension to the core's supported extensions, which is probably why there was an issue. Does it work properly now?

[2019-04-03 04:26] huwpascoe commented on #7419
Doesn't seem to slow down. Here's my [somewhat working PR](https://github.com/libretro/RetroArch/pull/8529). Didn't manage to get .zip loading done but you can extract the contents of a layout.zip somewhere and load default.lay directly.

The gl driver is a terrible mess right now, I literally crammed opengl calls wherever until I can figure out what that render chain stuff does. So, maybe read up

[2019-04-03 16:21] grant2258 opened #8543 "new analog option"
Well this all works well but how do we test if an input is analog the thing with analog it sends a spike now and then so you can easily tell its not digital. If its on a deazone with no spike there is no way to tell if it is analog or digital. I would suggest returning a none zero number enough to pick up its an analog control. Again its up to you guys

[2019-04-03 23:27] pigsonthewing12 commented on #8528
Hey, checking in. Whats the latest on this issue?

[2019-04-03 23:53] Blast-City opened #8545 "[Linux] Retroarch should ignore keys that are pressed as system shortcuts."
elementary OS Juno (Ubuntu 18.04).
Retroarch from the stable repository. Fully updated.

1- Open Retroarch
2- Press Super+Right Arrow to switch to another workspace

**Result:** The workspace changes, but Retroarch's menu also changes.

Is this the normal behaviour? Shouldn't Retroarch ignore the arrow keys when it's pressed as a system keyboard shortcut?

On Firefox as soon as i press the Super k

[2019-04-03 23:54] rsn8887 commented on #8543
What you describe is a terrible way to test whether an input is analog or not. I hope it is not being used anywhere. I might be naive, but I would say there should be no need to test whether an input is analog or digital. The API should provide this information to the cores, no testing needed.

[2019-04-04 00:42] grant2258 commented on #8543
Well I not aware of the api providing this information you mind telling me how the api tells us ?

[2019-04-04 01:10] fzacchi opened #8546 "[Feature request] basic .sh scripting support at game launch and exit"
I’ve written a set of scripts for RetroPie on the Raspberry Pi that activate the correct nonstandard refresh rates for each game that needs them on LCD monitors, by parsing a refresh list. LCDs support integer rates only, so for example with R-Type and Mortal Kombat the monitor runs at 55 Hz, with Neo Geo games at 59, with Double Dragon at 57 and so on.

It’s called by runcommand-onstart.sh (when

[2019-04-04 01:14] grant2258 commented on #8543
looks like beetle is also checking the value 0. Hopefully there is an api function to tell us this information.

https://github.com/libretro/beetle-psx-libretro/blob/53591985319edc34d83a0858ad9a935b934dcf5c/input.cpp#L208-L238

[2019-04-04 02:48] rsn8887 commented on #8543
The api names have ANALOG in them for all analog inputs.

[2019-04-04 06:32] i30817 commented on #8546
This btw, will never work on wayland because they explicitly determine that the only one program allowed to run changes is a blessed, 'user-only' (probably suid) program. Probably pointless aside but just something to mention.

[2019-04-04 09:54] kikeminchas opened #8547 "Run Ahead - Performance decrease when disabling after game start"
## Description

If we start a core with Run Ahead ON and we disable it while on game, the performance is not the same as starting the game with Run Ahead disabled. This behavior has been confirmed on Android at least.

### Expected behavior

Disabling Run Ahead while in game should return the core to its normal performance.

### Actual behavior

When disabling Run Ahead, performance of the core in

[2019-04-04 09:55] ZornTaov commented on #8484
I eventually figured out how to compile the RetroArchOverlayEditor in the link above, and unless it's a "it works on my machine" kind of thing I was unable to get the editor to do anything other than load and show me buttons that didn't seem to do anything, so by my estimation it's not very stable.

[2019-04-04 13:10] orbea commented on #8546
This doesn't seem like a very good idea and we have an issue template for a reason, please fill it out because I am not following you desired behavior...

[2019-04-04 13:13] orbea commented on #8545
This is not a good idea, these keys are going to differ from system to system and the only way to "solve" it is to ignore all keys which is just not going to happen.

[2019-04-04 13:13] #8545 closed

[2019-04-04 13:14] orbea commented on #8543
We have an issue template for a reason...

[2019-04-04 13:59] fzacchi commented on #8546
Thanks for the Wayland info. My primary, if not only, use case would be Lakka on the Raspberry Pi, however. The refresh rate switch commands work, I've already tested it, I just have no way to invoke them automatically without dropping to the command line each time.

It's not an issue, it's a feature request for something that RetroArch-the-frontend currently lacks: the ability to call a bash scri

[2019-04-04 14:13] orbea commented on #8546
What would these scripts do?

@bparker06 What do you think of supporting shell scripting inside of RetroArch, is this supportable or worth adding?

[2019-04-04 14:46] grant2258 commented on #8543
what info do you need ra version is

[INFO] RetroArch 1.7.6 (Git 8639018976)
[INFO] === Build =======================================
[INFO] CPU Model Name: Intel(R) Core(TM) i3-5005U CPU @ 2.00GHz
[INFO] Capabilities: MMX MMXEXT SSE1 SSE2 SSE3 SSSE3 SSE4 SSE4.2 AVX AES
[INFO] Built: Mar 31 2019
[INFO] Version: 1.7.6
[INFO] Git: 8639018976

the question is simple how do you find out if a button is

[2019-04-04 14:51] rsn8887 commented on #8543
Looking at the beetle example more closely, I don't see the problem anymore.

If you want to read analog buttons in the core, use
[code]

If you want to read digital buttons in the core, use something like
[code]
A zero has the same meaning in both cases: not pressed.

Of course, when you read analog buttons, you might not want to treat a 1 as pressed because the user might have set the deadzone t

[2019-04-04 15:02] grant2258 commented on #8543
the thing is this relies on you pressing the button to find out that not ideal for the situation. Here is an example I have a snes pad and a xbox 360 or psx pad.

I want to setup the controls depending on what pads plugged in. I guess you could do a manual select on options->controls it would be nice to have a way to detect the gamepads capabilities maybe there is i dont know.

[2019-04-04 15:48] fr500 commented on #8543
I don't even understand what's going on...
The new analog deadzone option is a FRONTEND feature and has nothing to do with the API.

[2019-04-04 16:32] Blast-City commented on #8545
Hi.

Maybe I'm not understanding what you're saying, but I was just talking about when the Super key is pressed.

If i press Super right now on firefox i can't write any more letters on this box. So Firefox seems to be aware of which keys are system shortcuts.

Thanks.

[2019-04-04 16:48] orbea commented on #8545
What if the user doesn't use the windows key and uses `alt` instead? What if they are using another arbitrary key like `w`? I guess this might even be a key combination...

[2019-04-04 17:10] fzacchi commented on #8546
Just to be clear, by default they should do nothing, in fact the .sh files shouldn't even be there.

You can check out my repos to get a good idea of what my script does, but in short it's the only way to get smooth scrolling at the right speed on PAL on nonstandard refresh rate games without using Freesync or G-Sync, on the Raspberry Pi.

Others have fancy arcade setups using LCDs as marquees and

[2019-04-04 17:16] orbea commented on #8545
Also, fwiw I can't reproduce this at all. RetroArch and firefox both correctly recognize that I am pressing `mod+arrow key` instead of `mod` and the `arrow key`.

[2019-04-04 17:46] Blast-City commented on #8545
Hi.

When you click on the address bar of Firefox and press the Super key what happens? Can you input any letters while pressing the super key?

On my computer as soon you press Super you can't press any key. It's like it is on a lock state.

[2019-04-04 18:16] Ferk commented on #8546
Wouldn't it make more sense to do that through a core?
You could use lutro, chailove or something like https://github.com/SwedishGojira/libretro-bash-launcher

[2019-04-04 18:25] fzacchi commented on #8546
Interesting, but it seems unneedlessly complicated. My script needs to be fed the name of the core and the rom to work properly, so you should pass those to the bash launcher (how?) that would then pass them to my script ... doesn't make much sense.

[2019-04-04 18:41] grant2258 commented on #8543
I just want to know how to find out if a given controller plugged in has analog axis available  without the need to press every button to find out if it has an analog axis.

So i can either map the controller as digital or analog.

[2019-04-04 18:45] fr500 commented on #8543
There is not sure way to tell, and the physical gamepad has no bearing in this discussion.
The cores only know about one gamepad. RETROPAD

There are two variations

- RETRO_DEVICE_JOYPAD which looks like a SNES gamepad
- RETRO_DEVICE_ANALOG which looks like a WiiU Pro gamepad/Dualshock

That's all there is to it. Any other variation is up to the frontend

[2019-04-04 18:52] fr500 commented on #8546
It could certainly be done...
But should it? at some point you have to draw a line and start thinking about the big picture.
Big picture being the common denominator.

Scripting is usually a last resort solution to something that can't be done through an API.
The proper solution is to use an API to do modeline switching (which is implemented already even though it may not suit your usecase ideally

[2019-04-04 19:03] grant2258 commented on #8543
Well that answers the question you cant tell physical gamepads characteristics to map it to an appropiate retropad. I guess ill just add controller types. That aside there is a bug in the deadzone code when you set it the l2and r2 analog triggers stop working for some reason

[2019-04-04 19:13] fzacchi commented on #8546
I actually agree with that :)

Yet, fully automatic modeline switching on Lakka on the Raspberry Pi is far, far away from completion. As it is it's best suited to CRTs anyway, while my script is way simpler and meant for standard LCDs.

It's working on RetroPie and Recalbox, so only Lakka is missing now. It just seems like a case of something easy enough to implement that it would be worth the cos

[2019-04-04 20:41] orbea commented on #8545
Firefox is not blocking the key, its recognizing its a key combo and not a single key being pressed where firefox doesn't use any such key combos by default and hence does nothing. This should be the same in RetroArch and I can't reproduce otherwise.

What RetroArch version are you using? What input driver are you using in RetroArch? Do you have any conflicting non-default keybinds in your RetroAr

[2019-04-04 23:54] grant2258 commented on #8546
you dont have to change the modeline it has been said before the cores can handle this internally if they need to all you to fix your 57 and others bordeline all you have to do is adjust your audio skew setting to 0.01 not sure about pal would need to test 50hz

[2019-04-05 00:26] bparker06 commented on #8546
This is incorrect.

Most LCD monitors do not support many different refresh rates anyway (especially in the higher resolutions) besides 30/60 and their 1.001 equivalents.

I think that running a script on startup and exit should be left to, well, scripts. I see no reason to add this functionality directly into RetroArch... especially where "scripts" in general or the execution of separate processs

[2019-04-05 01:13] grant2258 commented on #8546
just to clarify above its maximum  timing scew  not audio skew setting my bad.

Load robocop with fba or any mame youll see it runs 60fps with an increased in pitch with sound as well  with the default settings.  Change it to 0.01 restart youll see it runs the right frame rate hope that clarifies any confusion

[2019-04-05 02:32] fennectech opened #8548 "Increase import performance on switch using new hardware crypto"
We have hardware SHA1 and CRC32 in libnx now this could be used to speed up the content importer
https://github.com/switchbrew/libnx/pull/259

Relevant pull request

[2019-04-05 03:09] Blast-City commented on #8545
Latest version on the stable repo. Default configuration.

If i go to Youtube on Firefox and I play a video, using the arrow keys makes the videos fast-forward or go backward, but if i press Super+Arrow keys (workspace switch shortcut) the video continues to play normally (arrow keys ignored) and the workspace switches to another one.

If i do the same on Retroarch main menu, the arrow keys are ac

[2019-04-05 03:10] fr500 commented on #8548
The biggest bottleneck is building up the file list though.
Not scanning itself.

[2019-04-05 03:15] fennectech commented on #8548
Okay.

[2019-04-05 03:18] fr500 commented on #8548
No need to close it, it's still an idea worth approaching.

[2019-04-05 03:19] fennectech commented on #8548
Okay :)  i figured you ment that the improvement wouldent be worth the effort.

[2019-04-05 06:24] orbea commented on #8545
Which is what version?

[2019-04-05 14:41] Blast-City commented on #8545
https://launchpadlibrarian.net/410056719/retroarch_1.7.6-r201902062228-9750719-83~ubuntu18.04.1_source.changes

[2019-04-05 14:53] orbea commented on #8545
So `1.7.6`...

This shouldn't happen, what input driver are you using? Is with with x or wayland?

@hunterk Can you reproduce this?

[2019-04-05 14:58] orbea commented on #8545
Okay, I can kind of reproduce this...

I am getting stray key input when switching to the workspace with RetroArch, but not when switching away. This also clearly affects a KMS context, but that is not really a problem.

[2019-04-05 15:28] orbea opened #8550 "RetroArch sometimes fails to read keyboard input correctly"
## Description

Under some circumstances RetroArch fails to read keyboard input correctly and this can conflict with keybinds used by window managers or other programs.

For example when using using `mod+arrow key` (For the purpose of this issue `mod` is the windows key, but it could be other keys like `alt`) to switch between workspaces in a window manager RetroArch will correctly see that `mod+a

[2019-04-05 15:29] orbea commented on #8545
Given how confusing this issue is and the how the issue template was ignored I made a new issue that is hopefully easier to understand. I hope this works for you?

https://github.com/libretro/RetroArch/issues/8550

[2019-04-05 16:20] Blast-City commented on #8545
I'm using X (elementary OS Juno)

[2019-04-05 20:40] bparker06 commented on #8548
Also worth noting that no checksum generation is even done for compressed files (zip/7z), because it's already provided in the archive metadata for every file.

[2019-04-05 20:44] bparker06 commented on #8546
@grant2258 Please don't spread bad advice... it's absolutely required to be able to set modelines for proper operation in all circumstances... timing skew is not a solution to everything and won't fix larger framerate differences.

For example with MAME Mortal Kombat 1, on the scrolling page of all the fighters, the ONLY way to get this to be perfectly 100% smooth is either with a CRT+exact modeli

[2019-04-05 20:53] grant2258 commented on #8546
your entitled to your opinion 👍 from lcd to crt big jump

[2019-04-05 20:56] fr500 commented on #8546
@grant2258 thing is this **topic** has nothing to do with your advice.
Resolution switching is a valid request, this is why CRT switchres and VRR runloop were implemented.

The only thing you're achieving by lowering timing skew is you're disabling DRC, basically you're disabling vsync and running at the proper speed (with tearing)

[2019-04-05 20:57] grant2258 commented on #8546
it has everything to do with this what this the usual team tag it the sound that takes the timing up on 57 fps games and thats why the timing skew fixes it

[2019-04-05 21:00] fr500 commented on #8546
No it doesn't, the request is about basic scripting support for RetroArch so he can switch to the proper resolution + refresh rate combination.

You're claiming you can run 57hz content on a 60hz display with no tearing...
RA is a lot of things but it's not magic.

Doesn't mean it will have horrible tearing, but there is gonna be a tear here and there. VSYNC exists for a reason.

[2019-04-05 21:01] grant2258 commented on #8546
lol

[2019-04-06 00:15] fzacchi commented on #8546
CRU and the NVidia control panel on Windows, "vcgencmd hdmi_cvt "on the RasPi ... they let you change the refresh rate in 1hz increments only. Believe me, I've tried. It's not a big deal: it just means that any game is off by no more than 0.5 Hz in the worst case, so speed and music pitch aren't perfect, but very negligibly so. Scrolling however is just as smooth as the arcade was. No more horrid,

[2019-04-06 00:29] grant2258 commented on #8546
do me a favour leave your lcd at its default 60hz. Start ra goto setting audio machine timing skew set it to 0.01. Restart retroarch then play robocop on fba alpah.  (dont touch audio skew

Send me a link to your script ill see if there is any difference from this setting and what your script does.

[2019-04-06 01:39] grant2258 commented on #8546
i do agree  one thing this shouldnt be suck an issue mame has worked fine from the good old days. all you had to do was set your ini like this and t worked properly.
[code]

[2019-04-06 02:05] fr500 commented on #8546
@fzacchi right, changing modes will always work better than what grant proposed here (disabling vsync and running 57hz content at 60hz).

Only ways I know to get proper scrolling and speed is mode switching or VRR.

[2019-04-06 02:32] grant2258 commented on #8546
im talking about stand alone mame you can get it looking good without all this messing about not perfect but has options to make everything presentable easily.

The biggest  problem with RA is it messes the audio pitch up thats as bad as screen tearing Id love to hear a suggestion that actually works without setting per game that makes odd ball frame rates more presentable.

[2019-04-06 03:19] fr500 commented on #8546
You can't get 57hz content at proper speed and no tearing on a display that is set at 60hz, that's all I have been saying.

[2019-04-06 03:21] grant2258 commented on #8546
I just tested VVR scrolling in robocop is jerky works better with machine timing skew looks smooth to the eye. I know how to set modes in linux but not sure about windows setting per game seems a very odd way to deal with it. I guess there is no real solution but to tinker the machine timing does work well with 57 and up if you change it. I really cant notice any tearing in it with machine timing

[2019-04-06 04:02] rzumer commented on #7341
As noted by @Jamiras a crash occurs on the new implementation when trying to access an address that is not mapped.

[2019-04-06 06:01] r3pwn commented on #8411
I was having the same issue on 1.7.6, fixed it by using the latest nightly...

[2019-04-06 06:32] barbudreadmon commented on #7697
On odroid, fbalpha is working as expected with games using analogs when setting mouse as control, i'll try to hook the pointer/lightgun libretro device (they are basically the same) this week-end to see if i'm experiencing issues on my odroid with it.

[2019-04-06 09:27] barbudreadmon commented on #7697
The pointer is also working as expected in fbalpha, so the issue might be with the cores indeed, a wild guess would be some type conversion going bad on arm, 2 related issues i had to deal with in the past :
- char, which is unsigned by default (unlike x86)
- implicit conversion of negative float to unsigned int

[2019-04-06 11:06] barbudreadmon commented on #7697
Ok, i figured out the issue, i'll go into details, there are 3 ways to deal with mouse/pointer/lightgun devices in RA :
- using `RETRO_DEVICE_MOUSE`, it's detecting mouse relative movements, basically it works like an analog stick
- using `RETRO_DEVICE_POINTER`, it's detecting mouse/touch absolute position, so you can set the cursor in the game directly to coordinates
- using `RETRO_DEVICE_LIGHTGU

[2019-04-06 12:33] Julink13 commented on #8411
Using the latest nightly, still getting crashes when starting netplay

[2019-04-06 15:10] fr500 commented on #8411
Start the debug exe, then paste the crash report here.

[2019-04-06 17:14] CharlesBukowski opened #8551 "Video width and height are switched when a vertically-oriented game is loaded"
## Description

With vertically oriented games, Retroarch switches the emulator-provided width and height. For example, if the width/height is supposed to be 320x240, RA will switch this to 240x320. This only occurs with vertically oriented games. I tested this in both MAME and FBA using the Windows 64 bit version of RA.

### Expected behavior

The game to be displayed using the correct resolution

[2019-04-06 18:37] asavah opened #8553 "retroarch freezes when display input port is switched"
## Description
When working on a monitor with several inputs (DP,HDMI1,HDMI2) if you switch the input to another channel retroarch will freeze. When you change the input back to the port where PC running retroarch was you'll see the menu but the gui will not respond to any inputs, if you switch from X to for example vt1 and back to X you'll get a black screen.
Same behavior if you start retroarch

[2019-04-06 18:57] fr500 commented on #8553
try with audio driver null, I have a feeling it's the audio driver

On Sat, Apr 6, 2019 at 1:37 PM asavah <notifications@github.com> wrote:

[2019-04-06 19:17] asavah commented on #8553
Your feeling is indeed correct.
It does not occur with null.
Both waiting after switching input and starting via ssh while display is on another input work fine.

I use pulseaudio driver, pulseaudio runs as system daemon (I know it's not recommended by pa devs). and it has no alsa mappings, outputs only to bluetooth headphones.

[2019-04-06 19:25] fr500 commented on #8553
It happens on windows too (even unplugging my headphones results in a
lockup)

On Sat, Apr 6, 2019 at 2:17 PM asavah <notifications@github.com> wrote:

[2019-04-06 20:03] asavah commented on #8553
Another observation:
it does NOT happen if you load a core, a game and open RA menu.

[2019-04-06 20:53] ReaperMantis commented on #7990
Found a semi-workaround to get the controller working with GL...

- Set the Desktop mode configuration to be a gamepad (rather than mouse/keyboard).
- After launching RetroArch from the Steam Link, toggling Windowed/Fullscreen mode will get the controller detected and working.

[2019-04-06 21:49] bparker06 commented on #8546
@fzacchi Whether a monitor or video encoder can support those rates is still not a universal given... I routinely work with devices that only accept a single specific set of timings for either input or output. But anyway, most of the time you'll be stopped by the OS refusing to use timings outside the device's EDID, which won't have all those 1Hz increments in it... but sure if you force it, there

[2019-04-06 21:56] twinaphex commented on #8546
@grant2258 I really don't think this is the thread to be launching into direct MAME vs. RetroArch comparisons.

Let's de-escalate this and let's keep to the subject matter.

[2019-04-06 22:16] bparker06 commented on #8543
L2/R2 works fine for me with both analog deadzone/sensitivity set to non-default values, please file a separate bug for this, and make sure you're testing using the latest git master code as well.

[2019-04-06 23:44] orbea commented on #8553
I could not reproduce this in Linux, but maybe I need something to actually use the other monitor ports? I am using the alsa audio driver and do not have pulseaudio installed.

[2019-04-07 00:40] grant2258 commented on #8546
This isint about mame vs RA its about games 57.x-59.x fps  running at 60mhz with the default timing skew running too fast and how to improve it or at least make it more presentable on a lcd runining at the correct speed. Scripting isint available on all platforms like has been said before.

[2019-04-07 01:08] grant2258 opened #8554 "setting analog deazone in RA stops L2/R2 analog triggers working"
## Description

[Description of the bug]
setting analog deazone in RA stops L2/R2 analog triggers working
### Expected behavior
expected the deadzone to to work with the radius increased for the button
[What you expected to happen]
expected the deadzone to to work with the radius increased for the button
### Actual behavior
analog button returns 0
[What is actually happening]
analog button returns

[2019-04-07 01:13] asavah commented on #8553
I have the following setup:
Samsung U28H75X display with DP and 2 hdmi ports.

DP - amd 2400G box with my pet linux and retroarch
hdmi1 - ubuntu box
hdmi2 - windows box

Audio is going through pulseaudio -> bluez -> bluetooth headphones (headphones remain connected)
Alsa is present but pulseaudio is configured to ignore alsa.

Retroarch is configured to start in Fullscreen (not windowed)

The way

[2019-04-07 02:12] orbea commented on #8546
I think this is the bottom line, implementing and maintaining it could likely be extra burden with only limited benefit.

[2019-04-07 02:15] orbea commented on #8554
Probably not, is there any good reason to do this? I personally would expect deadzone to only apply to the analog sticks. @bparker06 would you mind looking into this?

[2019-04-07 02:40] grant2258 commented on #8551
some arcades have the monitor rotated 90 degrees. The  can the emulator can either rotate the image or displays orientation or display it as intended and you rotated your display 90 degrees

[2019-04-07 02:57] grant2258 commented on #8554
Ok just some information to show whats going on some cores if the analog fails it falls back and reads the digital and returns 32768 if digital is pressed. I personally just read the port and print the values being printed.

To reproduce this problem on current mame so show its not working

this setting works
1) set deadzone to 0.0
2) start outrun press f2 to get into service mode
3) press left an

[2019-04-07 03:48] grant2258 opened #8555 "57/59 fps games running the wrong speed on lcd monitors"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

[Description of the bug]
machine timing scew makes these games run too fast this results in high pitched music. The game can run up to 10% too fast depending on the fps set on lcd monitor.
### Expect

[2019-04-07 03:51] fr500 commented on #8555
This is not a bug, this is by design.

On Sat, Apr 6, 2019 at 10:48 PM grant2258 <notifications@github.com> wrote:

[2019-04-07 04:04] grant2258 commented on #8555
I guess it a live with it situation nice to get some closure on it

[2019-04-07 05:21] grant2258 commented on #8555
i take the sample applies to pal as well I just started snes9x and refresh rate is set to 60 for pal. Is there any reason that the design isint changing the fps to 60 for this as well since its by design?

[2019-04-07 05:41] fr500 commented on #8555
The default timing skew will make it run at 60 till 57ish fps.

Below that it's too far and obviously noticeable, so it disables vsync and
runs at 50.

On Sun, Apr 7, 2019, 00:21 grant2258 <notifications@github.com> wrote:

[2019-04-07 06:49] grant2258 commented on #8555
Well there is an option in the core that sets the samplerate to bypass this by setting the samplerate fps * 1000 that fix bypasses 60 fps issue .

I dont think this isint the ideal way to do it for none lcd or when using modelines with ra.  Ill remove this option from the core and  recommend people set the sync to exact content framerate for these particular games instead if they want the correct

[2019-04-07 07:25] grant2258 commented on #8555
I cant find a way to make robocop  with ra settings smooth as samplerate fps * 1000 and setting the framerate to 60 in the core. The cores job isint to do this at the end of the day so ill leave them to run too fast by design

[2019-04-07 08:07] fr500 commented on #8555
Sync exact framerate only works with g-sync/freesync displays.
And right, the core only has to set av_info and not hack around DRC, that's not needed nor desirable.

[2019-04-07 08:38] grant2258 commented on #8555
yea I know i only works for g-sync/freesync  displays there is no way to get games to run at the right framerate smoothy on RA with an lcd monitor in RA other than setting a modeline in linux.

[2019-04-07 09:30] rsn8887 commented on #8555
Running 57 fps games at 60 fps by default is pretty bad imo. Yes it is smooth but also wrong. People who know these original games will easily notice.

Maybe include a “force 60 fps” option that the user can enable or disable? When the option is disables, the sample rate is automatically adjusted.

Note that a 57 fps to 60 fps change is a 5 percent speed up! I wouldn’t accept it personally and dis

[2019-04-07 11:00] twinaphex commented on #8555
No, this is not the case at all.

If a core doesn't report a framerate of 50fps for PAL, that is the core's fault, not RetroArch.

[2019-04-07 11:02] twinaphex commented on #8555
@rsn8887 That has nothing to do with RetroArch, but with the core. Whatever you do in the core is your business and it's entirely on the makers of the core. The only thing RetroArch as a libretro frontend needs to do is respect the framerate that is being reported by set_av_info and run things at that rate, and run it well. That's it, and that's the only thing it needs to be responsible for. We're

[2019-04-07 11:06] Julink13 commented on #8411
**This is what I get when  I start netplay, and then load a content (Mario party 6 with Dolphin core)
The launcher works until I load a content, then it crashes and closes.**
[https://pastebin.com/vEMywvi1](url)

**This is what I get when I first load a core, then start netplay and finally load a content (Mario party 6, Dolphin core)
When starting netplay after loading a core I get a black screen

[2019-04-07 11:14] twinaphex commented on #8555
It IS the core's job to set the correct framerate at which the game should be run. Whose job should it be then? Certainly not the frontend, or you are misunderstanding the entire libretro frontend/core design paradigm. Remember that RetroArch is not an emulator and does not care what kind of 'program' is being run inside a core. It could be a music player for all it cares, all it cares about is pr

[2019-04-07 12:15] Tatsuya79 commented on #8235
This issue can be relevant:
https://github.com/libretro/mgba/issues/134

[2019-04-07 12:56] CharlesBukowski commented on #8551
I understand that, but the emulator-provided resolution should not be changed from the correct resolution, regardless of orientation. If the game is 320x240 it should be output as 320x240, not 240x320. The user can flip it or rotate it or whatever, but the resolution output by the emulator should remain the same. Otherwise you get scaling artifacts unless you just happen to adjust the y axis to a

[2019-04-07 13:02] grant2258 commented on #8555
i do have it as an option atm that can be disabled or not ill need to rename it though i have it named as bypass audio skew at the moment

[2019-04-07 13:48] grant2258 commented on #8551
the thing is the topic say the width and height are switched they simply arent it just a rotated monitor. It draws the image on the monitor as 4:3 then you flip the monitor physically this changes it to 3:4 on real hardware as far as the hardware is concerned its a normal 4:3 device but your rendering the image 90 degrees rotated.

In mame2003 or plus just use tate mode this stop the rotation and

[2019-04-07 13:55] grant2258 commented on #8551
it looks like your talking about capcom games watch this to understand whats going on and it is indeed 4:3

https://www.youtube.com/watch?v=LHfPA4n0TRo&feature=youtu.be

[2019-04-07 14:27] CharlesBukowski commented on #8551
I’m not referring exclusively to capcom games. You can see this behavior in the example screenshots I posted above, which are from Donpachi.

I understand very well that certain games are meant to be displayed vertically. This doesn’t change anything that I’ve said.

With a vertically-oriented 320x240 game, width should say 320 and height should say 240, and the displayed image should be sideways.

[2019-04-07 14:34] CharlesBukowski commented on #8551
If you display the arcade pcb to a CRT monitor in normal orientation it will be a 320x240 image that is sideways. You rotate the CRT 90 degrees. The resolution of the game remains unchanged.

[2019-04-07 14:39] grant2258 commented on #8551
yes resolution of you display remains unchanged. I dont have a crt to test whats going on there I would assume you should be using core provided information and tate mode on for mame2003 and plus dont know if the others support tate mode

[2019-04-07 14:42] Tatsuya79 commented on #8235
We're trying this for mgba:
https://github.com/libretro/mgba/pull/140

[2019-04-07 14:44] CharlesBukowski commented on #8551
You just aren’t getting what I’m saying. I’m going to have to post some screenshots later to help illustrate what’s going on currently and what should be going on instead.

[2019-04-07 14:46] grant2258 commented on #8551
can you make them screenshot in mame2003 and 2003+ with tate mode on so i can see what going on make sure your using core provided for aspect ratio as well in them screenshots will help a lot in seeing whats going on

[2019-04-07 15:08] fr500 commented on #8555
@rsn8887 the solution is disable audio sync or make audio timing skew a lot smaller.
While I agree with the speedup being bad I don't think most players will notice up to a certain threshold.

There are 59.7fps games IIRC in arcades. Is it word disabling vsync and getting tearlines or judder for that? certainly not in my opinion.

The default is supposed to give you smooth scrolling, and synced au

[2019-04-07 15:50] danipozo commented on #7627
I have hit this exact behavior on 1.7.6 and 1.7.5 from F-Droid repo. My device is a ZUK Z1 running Android 7.1.2 (Lineage 14.1).

[2019-04-07 15:52] fr500 commented on #8555
It's not about set numbers, that's just a tweakable default that someone considered reasonable.
If there is a better default it can be changed.

Also the option could be clearer, it's not about forcing behaviors, it's all about reaching agreements.
If everyone thinks correct speed up to 58fps is a priority then that can be done, maybe even 59fps (I mostly care for SNES / GEN / PSX / GB(c)(a) anywa

[2019-04-07 16:13] fr500 commented on #8411
our netplay doesn't work with dolphin
so that's a completely different issue

[2019-04-07 16:33] grant2258 commented on #8555
disable audio sync wont do anything for robocop to run the right speed the video timing with push the timing up and the audio speed in mame.

[2019-04-07 17:19] CharlesBukowski commented on #8551
First of all, just look at the first two screenshots I posted above. See where it says "custom aspect ratio width" and "custom aspect ratio height"

It should be the reverse of what is in the screenshots.

[2019-04-07 17:20] CharlesBukowski commented on #8551
Here is what it SHOULD look like with video rotation disabled. This is what is NOT happening, currently.

![image](https://user-images.githubusercontent.com/12267058/55687163-173d4a00-5927-11e9-8947-7138639cd7d0.png)

[2019-04-07 17:24] CharlesBukowski commented on #8551
Here is what currently happens. Both of these are incorrect.

video rotation ENABLED:

![image](https://user-images.githubusercontent.com/12267058/55687204-8d41b100-5927-11e9-9486-791aa22b61d5.png)

video rotation DISABLED:

![image](https://user-images.githubusercontent.com/12267058/55687207-a4809e80-5927-11e9-8a7d-4129ecc248d2.png)

[2019-04-07 17:25] twinaphex commented on #8547
@Dwedit Any thoughts?

[2019-04-07 17:29] CharlesBukowski commented on #8551
Next, here are some tests conducted by HunterK. See how video height/width are switched from what it is in my screenshots in the very first post? That's what it should be.
![image](https://user-images.githubusercontent.com/12267058/55687268-51f3b200-5928-11e9-91f6-379ac47df734.png)

![image](https://user-images.githubusercontent.com/12267058/55687272-5d46dd80-5928-11e9-8edd-af60b66eafa8.png)

[2019-04-07 17:29] grant2258 commented on #8551
what emulator is this from here is screenshots from with ?

[2019-04-07 17:33] CharlesBukowski commented on #8551
Next, I made this shot by manually resizing the resolution to 1600x1200, and used a scanlines overlay/shader. Notice how the scanlines and mask are perfectly scaled with no scaling artifacts present. This could only be the case if the game's resolution is indeed 320x240. With the currently reported resolution of 240x320, you get scaling artifacts.

![image](https://user-images.githubusercontent.co

[2019-04-07 17:34] CharlesBukowski commented on #8551
I already said what emulator is being used in my initial post.

[2019-04-07 17:36] grant2258 commented on #8551
this is mame2003 with tate mode on and off using core provided aspect ratio I cant speak for the other emulators

![fshark-190407-183154](https://user-images.githubusercontent.com/6128601/55687360-0f4fcb00-5964-11e9-872f-05b77581644a.png)
![fshark-190407-183227](https://user-images.githubusercontent.com/6128601/55687361-0f4fcb00-5964-11e9-8bbc-2be81a66a576.png)

[2019-04-07 17:38] CharlesBukowski commented on #8551
....How is this helpful?

[2019-04-07 17:40] grant2258 commented on #8551
have you even tried running mame2003 with these settings it what if shoud do tate mode skips the rotating and renders like its should.

[2019-04-07 17:40] CharlesBukowski commented on #8551
How are we supposed to know what the core reported width and height are from the screenshots you just posted? Again, the issue is that the emulator reported height and width are not correct.

[2019-04-07 17:45] CharlesBukowski commented on #8551
Tate mode ON solves the issue in MAME 2003.

Tate mode off:
![image](https://user-images.githubusercontent.com/12267058/55687436-31c4f280-592a-11e9-8287-09ddfcff8861.png)

Tate mode on:
![image](https://user-images.githubusercontent.com/12267058/55687468-88323100-592a-11e9-9b43-d045cc309d06.png)

[2019-04-07 17:49] grant2258 commented on #8551
i think mame current has rotation options in the tab menu dont know if they will work as expected though

[2019-04-07 17:50] CharlesBukowski commented on #8551
The problem is, tate mode ON in MAME 2003 should be the default for all emulators including FBA. This is what the image looks like when you connect the actual hardware to a CRT that isn't rotated. There shouldn't be any automatic switching for vertical-oriented games. Switching height/width (Tate mode off) should be something that the user has to select because it's altering the original output of

[2019-04-07 17:57] grant2258 commented on #8551
sure that can be true im sure most people dont have there displays rotated unless they have a barcade of some sort setup for vertical games only.

Its  a personal opinion but feel free to post an issue on it is easy enough to change the defaults through issues in the emulators in question. I dont really feel stongly about this its one for the people in charge of the repos it switchable in mame2003

[2019-04-07 18:02] CharlesBukowski commented on #8551
I'm not just being pedantic, here. The width/height being switched isn't helpful and causes numerous potential issues. With the current behavior of height/width being automatically switched with vertical games, you still have to rotate the image if you want correct aspect ratio and orientation or to avoid a huge amount of letterboxing, and with height/width being switched like this, it results in

[2019-04-07 18:16] grant2258 commented on #8551
first of all i completely agree with you all options should be clear to change and i feel fba does cover this option well its just you have to restart for it to take effect/

ill need to look into mame current at a later time. I will tell you how to to fix fba got quick menu options turn vertical mode on and restart the emulator it should work as expected.

[2019-04-07 18:19] twinaphex commented on #8519
@natinusala What do you think?

[2019-04-07 18:42] natinusala commented on #8519
I need a way to reproduce this on PC as I don't own a WiiU

[2019-04-07 18:43] CharlesBukowski commented on #8551
In FBA, enabling vertical mode in the quick menu options and restarting the emulator does not fix the problem. I'm still getting this:

![image](https://user-images.githubusercontent.com/12267058/55688158-c3d0f900-5932-11e9-9308-6cb6e836c262.png)

[2019-04-07 18:46] CharlesBukowski commented on #8551
Another problem related to this is the sheer number of knobs and dials related to video rotation. There are options related to video rotation in all of these places:

main menu ->quick menu -> options
settings -> video
settings -> core

If I'm an average user, how am I supposed to know what to do with all this?

[2019-04-07 18:55] CharlesBukowski commented on #8551
SUCCESS.

Actually, in FBA I have to turn vertical mode OFF under quick menu -> options.

![image](https://user-images.githubusercontent.com/12267058/55688303-40b0a280-5934-11e9-9b0b-b53909c16ef2.png)

So, yes, there is a lot going on here. Each of the cores seems to be handling this in a different way and there are far too many knobs and dials related to this. Disabling vertical mode makes it wor

[2019-04-07 19:14] CharlesBukowski commented on #8551
I'm still getting the same problem in FBA 2012. There is no option in quick menu -> options for vertical mode. Under settings -> core there is an option for "enable rotation." I'm getting the same results with this turned either ON or OFF.

settings -> core -> allow rotation ON:
![image](https://user-images.githubusercontent.com/12267058/55688480-342d4980-5936-11e9-8518-0d0c7cb97ac2.png)

settings

[2019-04-07 19:33] fr500 commented on #8551
as far as I can tell, the problem is the frontend based rotation not taking into account the aspect ratio change.
I don't think we need so many knobs in the cores to do this, it should be one option in the frontend and that's all.

I'm not even sure why there is a ROTATION ENV callback in the API

[2019-04-07 20:23] fzacchi commented on #8546
Well, no one's asking to make LCD refresh rate switching mandatory :)

In my real world testing it works 100% of the time on the Pi ... I was pretty surprised myself.

Yes, what do you mean exactly by that? The LCD runs at 53.0 Hz (rounded to the nearest integer), and the RA core makes up the 0.2 Hz difference by slowing the game down by 0.4% or so, just like it does for all those "60-but-not-quit

[2019-04-07 20:55] grant2258 commented on #8551
there is a reason for it to be there clearly this isint a front end issue. It cant guess if you have rotated you monitor 90 degrees physically you need to deal with this as a core option if that is the case.

[2019-04-07 20:56] CharlesBukowski commented on #8551
Agree w/fr500.

In my opinion, a vertically-oriented game should look like this by default:

![image](https://user-images.githubusercontent.com/12267058/55689631-1961d180-5944-11e9-8bf0-d554f236ae08.png)

The user can then rotate the image using the advanced user option under settings -> video -> rotation

You could also add an option under video settings ("automatically rotate vertical games 90 d

[2019-04-07 20:57] kikeminchas opened #8556 "Run Ahead - Hiscores not working FBA core"
## Description

When using run Ahead the Hiscores functionality does not work. It works fine when the core is started without using run Ahead.

### Expected behavior
Hiscores working as expected with run Ahead.

### Actual behavior

Hiscores not being saved, even if the game supports it

### Steps to reproduce the bug
Use FBA, load a game that supports Hiscores (i used street fighter 2' hyper figh

[2019-04-07 21:00] CharlesBukowski commented on #8551
You're missing the larger issue which is that the emulator isn't always using the correct resolution.

Rotation should be independent of the resolution/aspect ratio. The resolution/aspect ratio should remain unchanged regardless of rotation- see above.

[2019-04-07 21:11] grant2258 commented on #8551
and how is the front end supposed to guess that this particular arcade is rotated or not

[2019-04-07 21:21] CharlesBukowski commented on #8551
I'm saying that the front end options are sufficient and that the cores are currently doing something wrong.

In standalone FBA, you get this by default, which is as it should be:

![image](https://user-images.githubusercontent.com/12267058/55689942-4a440580-5948-11e9-842c-f9cddc82db20.png)

With "Video -> rotate vertically aligned games -> enabled" you get this, which is again as it should be:

!

[2019-04-07 21:27] grant2258 commented on #8551
ok with you so far you failing to mention the users monitors physical orientation in all this

[2019-04-07 21:30] CharlesBukowski commented on #8551
I don't see why the monitor orientation is relevant to what resolution the core is outputting. Rotating the image so that it's correctly oriented on a non-rotated monitor is altering the output resolution, and thus incorrect. The core should just output the unaltered resolution, altering the resolution, aspect ratio or video rotation is all stuff that should happen on the front end; eg, the exact

[2019-04-07 21:46] CharlesBukowski commented on #8551
Also, as we can see, there's just a lot of weird stuff going on. TATE mode ON in MAME results in the same behavior as vertical mode OFF in FBA, and FBA 2012 won't display a correct image no matter what settings are applied. I understand the lack of standardization when it comes to core options, but this just seems somewhat ridiculous.

[2019-04-07 21:52] grant2258 commented on #8551
im trying to understand where you are hitting this from the cores arent scaling the resolution RA scaless the resolution to your display.

[2019-04-07 21:58] CharlesBukowski commented on #8551
To what are you referring with this statement?

[2019-04-07 22:00] CharlesBukowski commented on #8551
If the front end can't detect whether a game is vertical or not, then it's the cores that are automatically switching the height/width for vertical games.

[2019-04-07 22:00] Ltek opened #8557 "Feature Request: CLI use 'known good' Core w/o forcing in CLI"
Since RetroArch 'remembers' the last used Core with all ROMs AND RA automatically sorts them into Playlists for each given Core... there should be No Reason to require a CLI to tell it what to Core to use with a given ROM.

I'm new to RA and want to use LaunchBox as front-end (since RA is not kid or guest friendly) and having to manually set LB for EVERY ROM to a given Core sux.

PLEASE add this,

[2019-04-07 22:18] grant2258 commented on #8551
yes they do people that dont rotate there monitors dont want to play there vertical games sideways or rotate there monitor by default.  Tate mode wont rotated vertical games at all on mame2003 that what you requested.

[2019-04-07 22:31] fr500 commented on #8551
This whole discussion is pointless.

There is not need to guess anything, this is software development, there is an API, an implementation, and a frontend.

There is an API for this:
https://github.com/libretro/RetroArch/blob/master/libretro-common/include/libretro.h#L486

So the players are:
- core
- api
- frontend

Who knows the content needs rotation? The core does.
The environment callback is

[2019-04-07 22:32] fr500 commented on #8556
This is a core issue, please report in the proper repo.

On Sun, Apr 7, 2019 at 3:57 PM kikeminchas <notifications@github.com> wrote:

[2019-04-07 23:15] grant2258 commented on #8551
there is no front end issue some arcades have different rotations not just 90 degrees. The core needs to work this out the user will need to be more specific from what he says he wants vertical games to display like this by default  which is perfectly valid if you have a rotated monitor.

![fshark-190407-183227](https://user-images.githubusercontent.com/6128601/55691157-04605f00-5993-11e9-8e9b-f51

[2019-04-07 23:21] fr500 commented on #8551
Ok, you win, have fun arguing forever instead of proposing a solution.

[2019-04-07 23:23] grant2258 commented on #8551
Ok you have a 4:3 monitor it draws as 4:3 like the fist picture you rotate it the monitor in the arcade 90 degrees what aspect ratio is it now?

[2019-04-07 23:42] CharlesBukowski commented on #8551
I don't understand all of this, but from what I can gather this sounds very reasonable.

[2019-04-07 23:48] bparker06 commented on #8557
What makes RA kid/guest unfriendly?

[2019-04-08 00:23] grant2258 commented on #8551
i agree with that  @CharlesBukowski  im sure @fr500 has some idea looking forward to seeing what he is going to do since he thinks there is an issue and what exactly is wrong as i cant see any issue at all with mame2003 or fba on libretro it both have the ability rotate or not rotate vertical games. It does it the same way as mainline fba and mame.

So i wll digress im at a bit of a loss what you

[2019-04-08 01:11] CharlesBukowski commented on #8551
The issue is that the behavior isn't consistent across cores and it's confusing as hell what is actually going on.

There is the separate issue of what the default behavior should be for vertical games, which you seem to be caught up on.

As of right now, MAME and FBA do the exact opposite thing with video_allow_rotate = true/false.

TATE on and video_allow_rotate = true in MAME 2003 produces the

[2019-04-08 01:21] CharlesBukowski commented on #8551
1. automatically switching the width/height for vertical oriented games is altering the output resolution, which is incorrect. The emulator should just output the resolution completely unaltered. Altering what is output by the emulator should always be done by the frontend, but maybe that's just my opinion.

2. rotating the game is something that can be easily handled in the frontend without all o

[2019-04-08 01:55] CharlesBukowski commented on #8551
IMO Standalone FBA does things right.

 See: https://github.com/libretro/RetroArch/issues/8551#issuecomment-480630788

By default it's sideways and 320x240, and there's a clearly labeled and easily accessed option to rotate video under the video menu.

There should be a way to make RA work the same with all cores with one of the methods fr500 described. You could then add an easily accessed user o

[2019-04-08 02:22] grant2258 commented on #8551
Ok here is the screenshots with you information the core geometry is reporting the right resolution

![Untitled](https://user-images.githubusercontent.com/6128601/55694766-85c4eb00-59ad-11e9-8938-fbe965c7f255.png)

Ra

[2019-04-08 04:14] grant2258 commented on #8554
just tested this in linux (debian stretch x64 same commit) xbox one controller only one analog button reports the values with the deadzone being set remains at 0 for analog values

[2019-04-08 08:02] kikeminchas commented on #8556
Done.
https://github.com/libretro/fbalpha/issues/209

Closing this one.

[2019-04-08 08:02] #8556 closed

[2019-04-08 16:05] ShadowOne333 commented on #8519
Maybe it could be an endianess issue with playlists for WiiU specifically? I've seen other issues related to that for cores and stuff, maybe it could be affecting playlists as well.

Anyway, I tried to reproduce this on PC (Windows 32bit build through Wine on Gentoo), but sadly it seems to be working fine on PC.
I will try updating my WiiU build to the latest nightly just in case and see if I am s

[2019-04-08 16:49] CharlesBukowski commented on #8551
I'm trying to figure out the point you're trying to make.

[2019-04-08 16:51] grant2258 commented on #8551
you rotate 320 x 240  image 90 degrees is becomes 240 x 320 thats as simple as you can describe it

[2019-04-08 16:54] CharlesBukowski commented on #8551
Who is disputing that? What is the point of this?

[2019-04-08 16:57] grant2258 commented on #8551
[code]

[2019-04-08 16:59] CharlesBukowski commented on #8551
Yes, and how do you think what you just said contradicts this statement?

I think there is a language barrier here that is preventing meaningful discussion.

[2019-04-08 17:00] grant2258 commented on #8551
that was you that it in your first post   your rotate an images the 90 degrees THE x /y swap

[2019-04-08 17:04] CharlesBukowski commented on #8551
Furthermore, the conversation has progressed quite a bit beyond the initial post. If you had been keeping up with the conversation you'd realize that the real issue is a lack of consistency between cores when it comes to the options related to video rotation.

I am 100% done debating with you what the default behavior related to video rotation should be.

It doesn't matter what the default behavio

[2019-04-08 17:06] CharlesBukowski commented on #8551
I literally can't even tell what you're trying to say, here.

I'm sorry, I really don't want to offend but the language barrier is just too much to deal with. I feel like you just consistently fail to understand the point being made and respond with irrelevant information most of the time and now I'm just wasting a lot of time trying to clarify things to you. I appreciate you trying to help.

[2019-04-08 17:14] grant2258 commented on #8551
i literally cant even figure your problem out the games will show sideways if they arent rotated mame fba and lr dont do this and shouldnt buy the should have the ability too. Its a core issue and p to each core if they want to support this

[2019-04-08 17:18] 6alileo opened #8563 "GL_CLAMP_TO_BORDER undeclared issue"
## Description

Compile fails on master branch
Compile succeeds on base release 1.7.6

### Expected behavior

To compile successfully on master branch

### Actual behavior

https://pastebin.com/raw/DjDAwjff

End of log snippet

[code]

### Environment information

Odroid-N2
Ubuntu 18.04.2 LTS (GNU/Linux 4.9.162+ aarch64)

[2019-04-08 18:09] CharlesBukowski commented on #8551
did you even bother following the steps I listed to reproduce the bug? Or bother looking at the discussion at the libretro forums? There is most definitely something weird currently going on with video rotation. It's not a problem present in all cores. Rotation behavior is not consistent across cores, for the nth time. That's probably the main problem.

FFS, the screenshots I provided prove it! Fa

[2019-04-08 18:25] grant2258 commented on #8551
you rotated the image  what do you expect to happen? you creen shots prove nothing accept the video is rotated fba and mame2003 create the same images

[2019-04-08 18:25] CharlesBukowski commented on #8551
That's exactly what I expect to happen. Do you see that you're just not following what I'm saying very well?

[2019-04-08 18:26] CharlesBukowski commented on #8551
No they don't, and I've provided numerous examples demonstrating this.

[2019-04-08 18:27] grant2258 commented on #8551
I guess you dont get it when you rotate the bideo it becomes 4:3 proof is in the screen shot from fba rotated.

![res](https://user-images.githubusercontent.com/6128601/55747495-4beaf780-5a34-11e9-9f22-acf658589866.png)

[2019-04-08 18:30] CharlesBukowski commented on #8551
Read this thread, from this post down to the end. Others clearly recognize that there is an issue.
https://forums.libretro.com/t/switch-video-width-height-when-video-is-rotated/21674/21?u=nesguy

Please just go away. You aren't getting it and I've reached the limit of my patience with this.

[2019-04-08 18:31] grant2258 commented on #8551
is fba wrong as well ?

[2019-04-08 18:51] CharlesBukowski commented on #8551
From the thread I just linked to, above:

So, yeah. It's not that you're wrong, it's just that you never quite understood what the problem was in the first place. Thankfully, the issue with FBA was recognized and corrected by BarbuDreadMon.

[2019-04-08 19:06] bparker06 commented on #8563
Confirmed bug, GL_CLAMP_TO_BORDER is only defined in the headers for GLES 3.2 when we're supposed to be targeting 3.0.

[2019-04-08 19:09] grant2258 commented on #8551
sending the wrong geometry form the core to fix it i would say thats out of spec and a patch. im sure mark will patch mame2003 and + up to send wrong info so it works in mame2003 and plus. Its trivial to do never the less i wont be changing is as its out of spec to whats really happening.

[2019-04-08 19:37] bparker06 commented on #8563
Should be fixed in 3346cd23c03b539e7653ddead89adb1ed495314a

[2019-04-08 21:20] 6alileo commented on #8563
It's fixed but now I have new issues? Do you want me to close and open a new issue?

https://pastebin.com/raw/YpQUKuSp

[code]

[2019-04-08 22:27] bparker06 commented on #8563
Yes please open a new issue... but for that one, you probably just need `--disable-gl` added to your configure line since it's not applicable to GLES devices.

[2019-04-08 23:32] #8563 closed

[2019-04-09 01:54] hizzlekizzle commented on #8557
We don't provide support for Launchbox here, but there's no reason you would need to set specific launch lines for each game. At worst, you need to do it for each system.

[2019-04-09 01:58] hizzlekizzle commented on #8555
It is indeed max timing skew that you need to adjust.

[2019-04-09 03:56] rsn8887 commented on #8555
I didn't realize this was already an option that could be adjusted to fix this problem. That's good news.

[2019-04-09 04:30] grant2258 commented on #8555
well bparker and fr500 say this is bad advice its why im looking for alternatives before taking and action on this.  Even if you could in windows would be tedious per game setting it manually just isint an option. you would have to use something like retropie that has scripts for linux anyway.

https://github.com/libretro/RetroArch/issues/8546#issuecomment-480416171

[2019-04-09 11:27] dankcushions commented on #8551
i can explain the reasoning behind TATE mode core option in mame2003:

the emulator sends two bits of information to the retroarch API; the games width and height, and how much it should be rotated:

so, for a typical arcade game, that would be:
**width:** 320
**height:** 240
**rotation:** 0 (none)

now, for a typical arcade vertical game (which were rendered sideways, and then the CRT was rotated

[2019-04-09 11:39] dankcushions commented on #8551
there is also some interplay with aspect_ratio that I've forgotten the details about.

[2019-04-09 13:18] fzacchi commented on #8555
Eh, it's complicated. Some games suffer more by running at the wrong speed, others by having choppy scrolling. My personal taste is that I loathe juddery scrolling much more than wrong speed, so the current 57 Hz default is fine by me. In any event I think at least 59 to 61 Hz games should run at 60, so all those Neo Geo games (they're 59.1) and ~60 Hz NTSC and arcade systems scroll right and have

[2019-04-09 16:15] fr500 commented on #8124
They can setup a relay server for themselves just fine.
The only thing they can't do is add them to the lobby.

It could be done for sure, a relay would connect to the lobby to announce it exists, then the clients that

[2019-04-09 20:16] NovaKatsu commented on #8392
,,,

[2019-04-09 21:10] CharlesBukowski commented on #8551
No one ever disputed that the correct resolution is 240x320 when rotated. What's being disputed is whether or not all the cores are reporting the correct resolution when the image is rotated. You really are failing to grasp what's going on, here.

Numerous people have since recognized the issue I'm describing and the issue in FBA was both recognized and fixed. The fact that you're holding firm on

[2019-04-09 21:22] grant2258 commented on #8551
@CharlesBukowski clearly in not debating with you and your screenshots anymore. you clearly dont understand geometry when a rotate happens. Im not wasting more time on it with you. No offence i posted a fix details for mame2003 and plus to send this bad geometry clearly you dont understand this at a level beyond screenshots.

[2019-04-09 21:43] grant2258 commented on #8551
As for tate mode in mame2003 and  plus is a ccw 90 degree rotate so if the arcade is 90 or 270 it will rotate the same way if the use has there scree rotated in a barcade/ servo/ stand setup . If you want a no rotate option youll need to post a github issue to get it added

[2019-04-09 22:37] fr500 commented on #8551
why is this still going on.
The problem was AR not being updated when using **some rotation option** (there are at least 3 ways to achieve rotation in RA)

@OP I just noticed you are setting aspect ratio to 1. Why? aspect ratio should be core provided.

[2019-04-09 23:13] ShadowOne333 commented on #8519
Mmm no, no luck.
Updated everything to latest nightlies on WiiU and set it up again, but still the same problem.

[2019-04-09 23:15] natinusala commented on #8519
Well it won't magically solve itself, if I can reproduce it on PC then I can fix it :P

Maybe try the gamepad resolution on PC? Or it could be yet another bad typing / rounding / cast situation

[2019-04-09 23:42] flamming-python opened #8569 "(Android) RetroArch crashing on startup"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

[Description of the bug]

### Expected behavior

[What you expected to happen]

### Actual behavior

[What is actually happening]

### Steps to reproduce the bug

1. [First step]
2. [Second step]
3.

[2019-04-10 00:02] grant2258 commented on #8551
to sum it up its to do with core rotating an image with ra the cores info updates the rotated geom. RA doesnt like it or update geometry when you do a manual rotate itself.  So you have to return the original orientation even when you rotate through RA with the core.

[2019-04-10 00:08] grant2258 commented on #8551
all mame cores will need updates or ra should report rotated geometry.

[2019-04-10 00:36] orbea commented on #8569
If possible can you bisect the `v1.3.6` and `v1.4.1` tags to see when it broke?

[2019-04-10 00:41] inactive123 opened #8570 "(D3D10/11/12) Menu widgets - wrong clipping of widgets"
Problem:

When menu widgets are enabled (configure --enable-menu_widgets), the D3D10/11/12 drivers have problems displaying the menu widgets properly in fullscreen mode when using the Ozone menu driver.

Example illustrating the problem:

![image](https://user-images.githubusercontent.com/1075274/55843543-285da500-5b39-11e9-86ea-0521c18277e9.png)

(How it looks like in windowed mode)

![image](htt

[2019-04-10 01:38] CharlesBukowski commented on #8551
@grant2258

You are completely hopeless. Several other devs agreed that there’s an issue, FBA dev already agreed that there is an issue and fixed it In FBA. To deny that there is an issue at this point is pretty much insane. I’m done talking to you.

[2019-04-10 01:49] CharlesBukowski commented on #8551
@fr500, yeah I don’t know why this is even still a discussion. I’m at a loss.

I use custom aspect ratios with RA because I overscan some games that scale to 1120 on the y axis. Switching it to core provided didn’t change what was going on with the reported width/height and rotation, as far as I could tell.

Anyway, the issue in FBA was fixed yesterday so I think this issue can be closed; rotation

[2019-04-10 01:49] #8551 closed

[2019-04-10 02:03] grant2258 commented on #8551
@CharlesBukowski ive already done the fix for 2003 and plus linked it and described the issue you are either stupid or argumentative i think the latter :)

[2019-04-10 02:48] twinaphex commented on #8551
@grant2258 Let's please keep this respectful at the very least.

[2019-04-10 02:52] RobLoach commented on #8557
If there was no reason for the -L option, I wouldn't be there. There's an issue open to auto detect a core... https://github.com/libretro/RetroArch/issues/746

[2019-04-10 03:18] bparker06 commented on #8554
Should be fixed in e0b59f13e2.

Also, analog buttons were not part of the original libretro v1 spec, someone has added them without bumping the version number, and now (at least one) core is using it (beetle psx IIRC), breaking backwards compatibility with older frontends.

[2019-04-10 03:52] grant2258 commented on #8554
Well i tested on windows the fix is working thanks ill close this off ill test in linux when i get the chance cant see there being any issue though.

[2019-04-10 03:52] #8554 closed

[2019-04-10 03:52] #8543 closed

[2019-04-10 04:04] fr500 commented on #8569
Seems to be a GLES error.
Tegra 3 is ancient so I guess at some point something changed that made it break.

But yeah, noone but you is gonna be able to reproduce. So you{d have to have a build environment and bisect.

[2019-04-10 04:10] fr500 commented on #8569
Seems quite a bit of GLES2/GLES3 changes happened between those versions

On Tue, Apr 9, 2019 at 7:36 PM orbea <notifications@github.com> wrote:

[2019-04-10 04:24] bparker06 commented on #8570
should be fixed in 7648da1413d8718ca29bb7eecff61c5ab677ef5a

[2019-04-10 06:42] barbudreadmon opened #8571 "Netplay overwriting local progress (srm, ...)"
## Description

By design, in a netplay session, machine state is the same on both side through the sharing of savestates. Part of that shared data is flushed to disk when you leave game (can be srm or any other kind of local savefiles).

### Expected behavior

Not overwriting local progress with data from other side

### Actual behavior

Overwriting local progress with data from other side

### M

[2019-04-10 11:31] fpscan opened #8572 "Translation test"
## Description

Hi everyone, I use RA everyday and mostly every platform( pc, switch, 3ds, psc) and I recommend everyone I know, recently I wanted to translate my native language which is not translated before. I did some research and find few things but it wasn’t clear for me, those posts says that it can be done with GitHub. So I followed this steps; https://webcache.googleusercontent.com/search

[2019-04-10 12:04] twinaphex commented on #8570
OK, everything is fixed in this issue except for this one (and it's still a rather big issue on its own) -

Widgets don't work at all when we are ingame and there is no menu active.
NOTE: This happens on all menu drivers right now, MaterialUI/XMB/Ozone. This issue does not seem to be scissoring-related.

[2019-04-10 13:04] orbea commented on #8557
I'm going to close this in favor of the issue @RobLoach linked which is pretty much a duplicate.

[2019-04-10 13:04] #8557 closed

[2019-04-10 13:12] orbea commented on #8572
This is not a support forum, I would suggest asking on the forum, discord or irc instead for help.

Basically you edit `msg_hash_tr.h` with your changes using `msg_hash_us.h` as a template and then you build RetroArch with `./configure && make` and test your translations.

[2019-04-10 13:12] #8572 closed

[2019-04-10 13:27] orbea commented on #5519
Thanks for testing, given the lack of other replies I'll assume this is fixed. Please anyone make new issues for any followup, thanks!

[2019-04-10 13:27] #5519 closed

[2019-04-10 13:29] orbea commented on #8499
@fr500 Would you mind testing this when you have a chance to see if its still a problem?

[2019-04-10 15:33] fr500 commented on #746
Auto detect and disambiguate from the cli seems pointless.
One thing that could be done is:

If retroarch is launched with a filename as an argument do a lookup in the playlists including history looking for that, if that is found and has a core associated then use that

So:

`retroarch mario.sfc` would trigger a search in history, favorites and the other playlists, if an entry is found and the en

[2019-04-10 18:08] ShadowOne333 commented on #8519
Tried setting the resolution to 854x480 (WiiU's gamepad resolution) on PC, but I had no luck replication the problem.
I tried other stuff as well, but so far nothing that could replicate it on PC sadly.

[2019-04-10 19:00] fr500 commented on #8519
Does RA WiiU work on CEMU?

[2019-04-11 00:28] twinaphex commented on #8570
Should be fixed with this -

https://github.com/libretro/RetroArch/commit/702c889cd19121a4e244339559fb16cb592bd704

[2019-04-11 00:46] JosephSnedeker commented on #8411
how do i access the nightlies

[2019-04-11 08:38] furiadeoso commented on #8570
Sorry, perhaps this is unrelated. Menu widgets are covered by Overlays. Must I open a new issue or showing widgets over overlays is in the roadmap?

[2019-04-11 11:46] Ferk commented on #746
Why pointless?

I expect one of the use cases for this would be being able to associate retroarch with files in such a way that you can simply double click a rom from a file browser and have it open with retroarch without having to explicitly create playlists for it or having to set up wrappers to add the ``-L`` option.

[2019-04-11 15:07] orbea commented on #8563
The qb scripts need a bit of work with opengl, glcore and gl1, but its kind of tricky...

[2019-04-11 15:50] natinusala commented on #3946
Status update: the notification itself is pretty much done, I just need to add a queue to avoid breaking everything when multiple achievements unlock at the same time.

This is how it turned out: https://twitter.com/natinusala/status/1116365181205008386

It will be available for everyone once menu widgets are finished as a whole, and enabled by default. In the meantime, you can build from source a

[2019-04-11 22:21] Julink13 commented on #8411
Since nobody responded when I asked that question, I will gladly help you. You can use https://stellarupdater.github.io/ , It will help you install nightly versions of RetroArch.

[2019-04-11 22:22] Julink13 commented on #8411
Should I open a new Issue, or is it a definitive issue? just kinda weird having something that crashes your launcher in there.

[2019-04-11 22:23] fr500 commented on #8411
It's not a launcher, it's a complete frontend..

[2019-04-11 22:27] LootusMaximus commented on #8411
I dont think dolphin netplay is anywhere near possible. N64 and ps1 dont even work right because savestates are too big

[2019-04-12 01:52] twinaphex opened #8576 "Menu widgets - tests"
Of interest to @bparker06 , @natinusala and others -

The screenshot widget -

![image](https://user-images.githubusercontent.com/1075274/56006701-46144100-5cd6-11e9-839b-bd8a2d7ab5fa.png)

It displays a black screen as a screenshot thumbnail for the following drivers: D3D10/11/12, and gl1.

It displays correctly with: glcore, gl, and vulkan.

[2019-04-12 12:01] natinusala commented on #8576
What I do is simply load the screenshot PNG using `menu_display_reset_texture_list`. It may be black because the widget is shown too early (PNG not saved yet)?

[2019-04-12 15:25] protoman commented on #6466
Basically what is needed is that retroarch supports the mode #4 from dolphinbar. This has already been added into Dolphin emulator 4.0-2241, so it is just a matter of adding that into retroarch input core.

[2019-04-12 18:27] ofry commented on #8068
@meleu @Jamiras Could you do this little request for easier cheevos debugging?

[2019-04-12 19:01] ofry opened #8581 "LGTM builds are failed on all PR's"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

LGTM builds are failed on all PR's.

### Expected behavior

LGTM should function without errors.

### Actual behavior

LGTM is unusable now.

Actual error. for example, from https://lgtm.com/projects

[2019-04-12 20:30] rzumer opened #8582 "Achievements not working with expanded GBC memory map"
## Description

Recently, Gambatte, SameBoy and Gearboy merged PRs to expand the memory map for the GBC system. The Gambatte core has an interface in the [RALibretro](https://github.com/RetroAchievements/RALibretro) frontend, and with it we can see that the expanded memory (0x10000 to 0x16FFF) is mapped as expected. However, when loaded in RetroArch, triggers that need to access memory in this are

[2019-04-12 20:56] rzumer commented on #8582
I found the issue: `retro_get_memory_size()` is variable based on the system (GB or GBC), but apparently RetroArch does not refresh this value on load, so it is always cut off as the default system type is GB. This must be corrected at the core level, so closing.

[2019-04-12 21:11] rzumer commented on #8582
Actually, I will reopen, because I think changing making changes at the core level based on the assumption that RetroArch won't have an up-to-date memory info is not ideal. Since some cores don't allocate memory for both systems in the same location, it's a considerable amount of work needed to get around an issue with the achievements implementation.

The memory is fetched before even hashing/ide

[2019-04-12 23:44] BarryJRowe commented on #5838
Hey everyone, I've been working on this issue myself.  It was fun learning how to write c again.  Anyway, here's a demo of what I have so far here: https://youtu.be/o0TOaxD9zcs

The idea is that when you pause, it sends the image off to a url you specify in your configuration, and then displays the returned image.  That way, you don't have to bloat up the repo with a lot of extra code, and you can

[2019-04-13 01:55] orbea commented on #8581
@bparker06 You might want to look into this one.

[2019-04-13 02:06] bparker06 commented on #8581
Possibly an upstream bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=915345

[2019-04-13 02:15] orbea commented on #8581
Its not available for Slackware either, I'll try to see how far I can get in reproducing this.

[2019-04-13 02:52] orbea commented on #8581
I downloaded, built and installed `roaraudio-1.0beta12`. I next found that RetroArch successfully detected libroar and I was able to build it without issues.
[code]
I then tried to change the audio driver to `roar` and tried to play a game, but I had no sound. I don't know anything about roaraudio so maybe I am missing something?

[2019-04-13 03:24] orbea commented on #8581
I can reproduce very similar errors building `roaraudio-1.0beta11`.
[code]
I think the solution is to update roaraudio on the LGTM build environment. Otherwise roaraudio could be removed so its not detected or `--disable-roar` can be used to disable building it.

@bparker06 Would you know how to implement one of these fixes for LGTM?

[2019-04-13 07:14] charlysole opened #8583 "Android tv input driver issue"
## Description

Once installed retroarch in a sony android tv (oreo 8.0), opened with a usb wired (ps4 like) joystick and a usb logitech keyboard attached to the tv.
Moving arround the menus, sometimes works just fine, and sometimes it doesn’t. The controls become too sensitive and  one pushed button like up or down is interpreted like 10 times up or down. Making the app menu navigation impossible

[2019-04-13 15:01] RobLoach commented on #8583
I've seen this happen before on RPi. I had to remove the USB device, and then plug it back in. Not entirely sure what causes it.

[2019-04-13 16:27] bparker06 commented on #8581
According to that bug report it says:
[code]
So that's probably why it works for you.

[2019-04-13 23:52] YoderComixinc commented on #8512
Either you got fired or you're ignoring me.

[2019-04-14 01:45] fpscan opened #8584 "missing #include "msg_hash_us.h" in msg_hash.c for translation"
Hi Everyone,

Recently I started translate RetroArch in Turkish and I really made progress and our Turkish Retro group really hyped that this is going to happen so I followed eversteps in "Translation doc" but there is a catch so;

https://docs.libretro.com/development/retroarch/new-translations/

So in here line 7 says **Open msg_hash.c**** later on

But there is no **#include "msg_hash_us.h"** t

[2019-04-14 05:16] orbea commented on #8584
I think that step is either outdated or outright wrong...I wouldn't worry about it. I'm not familiar with the whole process to add a new translation, but I would suggest skipping that step for now and worry about the actual translation. I'm sure someone could help with more trivial build issues if the translation itself is done.

You can also try using `grep -r` to search the repo for strings rela

[2019-04-14 07:53] RobLoach commented on #8512
I am unable to help you without seeing the entire logs. Does it load and save properly on another device?

[2019-04-14 14:22] retro-wertz commented on #8582
here's what i get

[code]
offset 0, is this achievement even working?

[2019-04-14 15:17] fpscan commented on #8584
First, I would like to Thank you. Yeah, I am keep editing files but really wondering how its fit, since we have characters like " ç i ş ö ü " these things mostly break fonts. I hope that at the end; hash_tr.c and .h would be enough to add Turkish lanuage.

[2019-04-14 15:29] orbea commented on #8584
That is a possible concern, I'm not sure if the monochrome or other included fonts have support for Turkish. There are issues with Arabic for instance. https://github.com/libretro/RetroArch/issues/7822

That is the bulk of it, someone else would may be able to update the documentation correctly, but for now we can worry about any other issues as they come up. I would suggest to follow the directio

[2019-04-14 15:31] orbea commented on #8581
Maybe you missed my second comment where I also found this to be true? I'm not sure how or where to change anything for LGTM so I think you will need to work on that.

[2019-04-14 15:33] fr500 commented on #8583
I don't have this issue on my own Sony TV nor the Shield ATV

[2019-04-14 15:43] orbea commented on #8581
@Themaister I see you added roaraudio support a long time ago, what do you currently think about supporting it in RetroArch?

I think the current choices are:

1. Leave it be in its current mostly unmaintained state, I bet most people aren't even trying to use it.
2. Update it to work, it seems only debian carries it and I'm not sure it has any benefits over something like jackd?
3. Remove it.

[2019-04-14 16:15] gouchi commented on #8584
There is a [documentation](http://docs.libretro.com/development/retroarch/new-translations/) about adding new translations.

[2019-04-14 16:17] fpscan commented on #8584
Yes this is where I follow steps as I mentioned before, but somehow sections 7 and 12 are broken.

[2019-04-14 21:21] fpscan commented on #8584
I just skipped adding

and tried to build, this what I get now;
![image](https://user-images.githubusercontent.com/4651944/56099348-5154b000-5f14-11e9-8439-6135d975218d.png)

[2019-04-14 21:31] orbea commented on #8584
I tried to grep for another header file for examples.
[code]
This leads me to think that it should be included in `intl/msg_hash_tr.c`, does that work?

[2019-04-14 22:47] YoderComixinc commented on #8512
Check out the 12th comment R.O.B (hehe) . And I only have retroarch on my Wii.

[2019-04-14 23:07] fpscan commented on #8584
Okay so I guess I am making progress, I cleanup some stuff and fixed some typos and `./configure && make
` so it started build, I guess, but its ended with another error and I try to fix this one but don't know what cause it

![image](https://user-images.githubusercontent.com/4651944/56100548-ca5b0400-5f22-11e9-8a96-7342eea1fae5.png)

[2019-04-15 01:41] orbea commented on #8584
Look for duplicate instances of those definitions, I can't really help without seeing your current work. The compiler might of printed relevant warnings earlier in the compile output.

[2019-04-15 02:09] grant2258 commented on #8583
ive tried android on my phone and tv box didnt have a real nice experience either. The phone worked a bit better at least i just gave up in the end and only use on the pc.

[2019-04-15 08:23] rzumer opened #8585 "Achievements peeking at memory out of bounds can crash cores/RetroArch"
## Description

See https://github.com/LIJI32/SameBoy/issues/162 for background.

Using a build generated prior to defining a memory descriptor that increases the size of the memory map, loading achievements that make use of this memory space causes a crash.

When the memory descriptor is defined, there is no problem.

It is possible that it is related to alt condition sets or some other edge case

[2019-04-15 13:17] orbea commented on #8585
Have you tried to bisect this? Do you have a backtrace?

[2019-04-15 15:32] rzumer commented on #8585
No, and I am not very interested in doing it myself right now.

[2019-04-15 16:23] JacobMrox commented on #2612
Hi, is it possible for someone to actually add cursor/move selection sound option in Menu Sounds? This sound would play just like the PS3 XMB actually has when you move cursor/change selection.

[2019-04-15 16:45] bparker06 commented on #8585
here is the backtrace:

[code]

[2019-04-15 16:59] rzumer commented on #8585
Looks like `cheevos_var_get_memory()` does not return a null pointer when it should.

Should the default case return immediately instead of breaking into an initialization for the return value?

[2019-04-15 18:01] rzumer commented on #8585
That PR was not enough. But again, no stack trace.

[2019-04-15 19:14] orbea commented on #8585
@leiradel Maybe you could help with this issue? Most of us don't really know much about cheevos...

[2019-04-15 19:22] leiradel commented on #8585
At first sight it seems the SameBoy memory is not being correctly exposed. There wouldn't be any crashes with official cheevos if it was.

I'll take a look.

[2019-04-15 19:26] rzumer commented on #8585
As mentioned in the SameBoy issue linked here, there is a memory descriptor missing from the latest nightly build. When compiled with it, no crash occurs on my end.

RA should avoid crashing due to running out of date cores with achievements though.

[2019-04-15 19:29] leiradel commented on #8585
Yes, I agree it shouldn't crash. I'll add the appropriate measures.

[2019-04-16 02:33] fpscan commented on #8584
I am keep editing text while I try to fix these issues, so far I made nice progress. In case you want to see how is it here is the link: https://github.com/fpscan/RetroArch I still looking for someone who is able to upload these for me :D I also made forum post I hope I can get some answer from there.

[2019-04-16 08:24] kolbycrouch opened #8591 "FreeBSD: Partial keyboard support."
## Description

Hello. I've noticed when trying to run RetroArch on FreeBSD or NetBSD, I
only get a partially working input configuration with my keyboard.

I'm running as root, so no permission problem on device nodes that I'm aware of.
Several keys work, such as: Enter,F,ESC,Backspace and a few others.
Most keys don't work, such as: arrow keys and most other menu hotkeys.

This happens regardles

[2019-04-16 15:48] orbea commented on #8584
I took a look at your current changes, first you might not want to remove those `.vscode/` files. :)

As for your build issue, you added `intl/msg_hash_tr.o` to `Makefile.common` three times for some reason, you only need it once. See the `HAVE_LANGEXTRA` conditional.

Other suggestions would be to work on a different branch (`checkout -b branch_name`) and then before making a PR, fetch changes fr

[2019-04-16 15:55] orbea commented on #8591
I don't think this is specific to FreeBSD/NetBSD and related to how input is handled. There may be some configuration settings that help and maybe duplicate issues as well?

[2019-04-16 16:59] newget opened #8593 "Cannot set OSD font (Nintendo Switch)"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

Cannot display .ttf files in OSD font setting page

### Expected behavior

display .ttf files

### Actual behavior

'No items' appears

### Steps to reproduce the bug

1. Go to Onscreen Display - Ons

[2019-04-17 00:30] fr500 commented on #8499
seems fixed

[2019-04-17 01:14] twinaphex commented on #8499
Cool, glad this issue can be closed.

[2019-04-17 01:14] #8499 closed

[2019-04-17 13:19] bparker06 commented on #8584
Hi @fpscan,

In the interest of time and teaching, if you'd like to just submit your new translation's finished .c/.h files as a direct link here, I can go ahead and add it properly into RetroArch with all the menu hookups and everything, then you can look at my commit later to see exactly what I did, if you'd like.

[2019-04-17 20:13] Ferk commented on #8534
No, that would be assigning to the same button multiple actions. That's completely different to assigning the same action to multiple buttons.

The former is much less useful than the latter, you cannot do the latter if you switch fields and values.

[2019-04-17 20:31] Ferk commented on #8534
You mean like in Quake?
I think that should be mentioned in your design if you actually want that, because it would affect the implementation. How do you define if you want to replace a binding instead of adding it on top?

The thing is that if you want the remap files to stay the same, then support for this kind of thing should be there from the start, otherwise those who have already remaps wher

[2019-04-17 21:09] fpscan commented on #8584
That would be great, I just trying to figure it out so I wouldn't bother anyone in future, I followed pull request steps and I made my first pull request I guess but its failed I guess...
https://github.com/libretro/RetroArch/pull/8595

https://i.vgy.me/ym5UNM.gif

But I just tried and it worked for me, what is cause for failing?

[2019-04-17 21:49] Tatsuya79 commented on #8534
Like in MAME:  when you enter a 2nd bind and it gets added on top of the previous one, that's what I tried to say in the 1st message.
This whole thing is what I already discussed with Radius and is there to have it written down and reviewed  as I don't know the exact limit of what's possible to implement atm.

It wouldn't break old remaps if I got it right, it's just redirections.

The bind all th

[2019-04-17 22:45] fr500 commented on #8534
@Ferk what @Tatsuya79 is proposing is just a GUI change (a complex one).
The functional component would remain the same. The only thing that changes is how these settings are represented.

Assuming a NES core and a user using a Dual Shock for maximum discomfort
The representation on defaults would be:

[code]

Once the user remaps this to something saner it would be

[code]

And assuming he maps t

[2019-04-17 23:39] huwpascoe commented on #7419
Finished. https://github.com/libretro/RetroArch/pull/8529

Notes:
some zip will not load correctly. This is due to a bug in retroarch's file_archive_compressed_read() where it fails to dynamically load files which have used the STORE method. If your layout doesn't load, try extracting it to a sub-directory and load from the default.lay file instead.

I've only implemented the essentials with the g

[2019-04-18 06:07] grant2258 commented on #6466
Well its a crying shame linux kernel has the hid-wiimote drivers built in since 3.11 dolphin can make your wii controllers work without a dolphin bar.

[2019-04-18 07:14] ofry commented on #7603
Current logs with videodriver = "gl", "glcore", "gl1":

[valgrind_log_with_gl1_mesadbg_glxdbg_18.04.2019.log](https://github.com/libretro/RetroArch/files/3093153/valgrind_log_with_gl1_mesadbg_glxdbg_18.04.2019.log)
[valgrind_log_with_glcore_mesadbg_glxdbg_18.04.2019.log](https://github.com/libretro/RetroArch/files/3093154/valgrind_log_with_glcore_mesadbg_glxdbg_18.04.2019.log)
[valgrind_log_with_g

[2019-04-18 07:19] ofry commented on #7603
Can it be related?

[code]

(display driver returns zero mm of physical display width and height)

[2019-04-18 07:33] ofry opened #8596 "Compilation failed with installed libroar"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

Compilation failed with installed libroar

### Expected behavior

Retroarch should compile successfully.

### Actual behavior

[code]

### Steps to reproduce the bug

1. [First step]
2. [Second step]

[2019-04-18 07:35] ofry commented on #8596
roaraudio 1.0~beta11-10 from canonical repository.

[2019-04-18 11:56] protoman commented on #6466
I've tried that, it is not simple at all, and I am not a novice in Linux.
While I could get the buttons working, never worked as a pointer/moused using this method, dolphinbar is ages better than setting through hid and bluetooth.

[2019-04-18 12:46] orbea commented on #8596
Upstream issue, update your libroar and it will build again.

Closing this as a duplicate of issue https://github.com/libretro/RetroArch/issues/8581 which you also opened....

[2019-04-18 12:46] #8596 closed

[2019-04-18 13:41] orbea commented on #3919
Should be resolved in PR https://github.com/libretro/RetroArch/pull/8586.

[2019-04-18 13:41] #3919 closed

[2019-04-18 13:49] cbc12345 opened #8598 "Retroarch don't works at the correct refresh rate in European Android TV"
## Description
I have a European Philips TV with Android TV integrated (Oreo 8.0). The TV can work at 24hz, 50hz and 60hz but retroarch always works at 50hz. I tried to force it to 60hz but it was not possible.

### Expected behavior
Retroarch works at the correct refresh rate (60hz for NTSC games and 50hz for PAL games)
### Actual behavior
The menu always works at 50fps.

When running a game that

[2019-04-18 14:43] orbea commented on #7603
I asked in a mesa irc channel (I think I have done this before?) and was told its a valgrind issue and to compile with `-march=amdfam10 -mtune=native` instead of `-march=native`. This successfully avoids the issue and allows RetroArch to start with valgrind again.

The correct solution would be to add these missing instructions to valgrind.

@ofry I am not sure how this relates to your issue.

[2019-04-18 14:49] orbea commented on #8584
The documentation issue should be fixed now.

https://github.com/libretro/RetroArch/pull/8595#issuecomment-484532027

[2019-04-18 14:49] #8584 closed

[2019-04-18 15:05] RobLoach commented on #8598
Threaded Video is usually avoided unless you can't get full speed. Try with all vsync options off, and see what you' get then.

[2019-04-18 16:00] grant2258 commented on #6466
Well I didnt have any real bother I didnt need to install any hid drivers just done a
sudo modprobe hid-wiimote

and setup the bluetooth as trusted disconnect the device in Bluetooth manager start dolphin select real wii mote and it connected. I just made a sensor bar myself.  I have tried get the ir map to a mouse device (abs) with wminput and  MoltenGamepad not much luck so far would be nice to

[2019-04-18 17:46] bparker06 commented on #8593
@orbea
Bisect results:

ad7cb35d31d65a31e1289e84671eb6b5d0d21a47 is the first bad commit
commit ad7cb35d31d65a31e1289e84671eb6b5d0d21a47
Author: orbea <orbea@riseup.net>
Date:   Fri Mar 1 11:07:06 2019 -0800

    Fix double root directory.

    Fixes https://github.com/libretro/RetroArch/issues/8385

    Regression after https://github.com/libretro/RetroArch/commit/5fcedc86195c9b1b8a79c7b5f9e59f9c

[2019-04-18 18:11] orbea commented on #8593
I can reproduce this, I'll take a look.

[2019-04-18 18:57] orbea commented on #8593
I submitted a PR which fixes this here, the menu font was also affected.

[2019-04-18 19:12] #8593 closed

[2019-04-18 19:21] bparker06 commented on #8598
@RobLoach Then why is it the default on Android?

[2019-04-18 19:22] bparker06 commented on #8598
@cbc12345 Does your TV normally run Android at 60hz? At what point does it change to 50? Only after starting RetroArch? Or before then?

[2019-04-18 19:38] cbc12345 commented on #8598
I have tried with all options available in Retroarch but the problem always persist.

It seems like if Retroarch takes the refresh rate that is assigned in the operating system and does not switch it automatically.

I think that as the operating system works by default at 50hz because the TV is European, retroarch takes this refresh rato and also works at 50hz.

However if the refresh rate is chan

[2019-04-18 19:49] cbc12345 commented on #8598
Does your TV normally run Android at 60hz? At what point does it change to 50? Only after starting RetroArch? Or before then?

My tv usually runs android tv at 50hz and it changes to 60hz or 24hz depending on the content that is played. If the refresh rate changes to 60hz, android stays at 60hz and only changes to 50hz when new content is played at 50hz, such as a TV channel.

How are you verifyin

[2019-04-18 20:05] bparker06 commented on #8598
Right, RetroArch does not automatically try to change refresh rates when it starts up... it will use whatever the normal OS is using like most any other application.

[2019-04-18 20:23] ofry commented on #7603
@orbea Interesting. Will test it.

[2019-04-18 20:26] orbea commented on #7603
Please note my workaround is specific to amd, but if you are compiling anything related with `-march=native` or similar then try removing that.

[2019-04-18 20:30] ofry commented on #7603
So I need to compile valgrind with `-march=amdfam10 -mtune=native`?

[2019-04-18 20:32] ofry commented on #8581
Could we add version constraint to qb scripts? So if libroar isn't recent enough, we will skip roaraudio sound driver?

[2019-04-18 20:40] orbea commented on #7603
No....

Your issue might be completely unrelated.

[2019-04-18 20:55] orbea commented on #8581
Okay, lets try that. I opened a draft pull request to see if LGTM passes.

[2019-04-18 21:27] orbea commented on #8581
Good news, that seems to work.

Bad news, the xcode travis is broken again...

[2019-04-19 02:58] #8581 closed

[2019-04-19 06:00] ofry opened #8603 "Travis CI builds with XCode 10.1 failing"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

Travis CI builds with XCode 10.1 failing

### Expected behavior

Travis builds should compile without any errors.

### Actual behavior

Link to log: https://travis-ci.org/libretro/RetroArch/jobs/5220

[2019-04-19 07:49] cbc12345 commented on #8598
True, but it also does not change the refresh rate from 50 to 60fps when loading an NTSC rom.

[2019-04-19 11:12] Sonickyle27 opened #8604 "SNES content frameskips whilst in fullscreen, but not in windowed"
## Description

When running SNES content with any SNES cores (like higan, bsnes(-mercury), Snes9x) in fullscreen, the content is presented with frameskipping. Other content cores like MAME, FB Alpha, and Genesis Plus GX do not show this issue.
The menu is not affected by this, and the "Display Framerate" option displays the framerate as 60.0 while in fullscreen.

### Expected behavior

The conten

[2019-04-19 11:23] Vikijaka opened #8605 "[WiiU] Control Config lf support please"
Hi there,

i am using RetroArch on my Wii U and i want to ask how do i need to config the controlsettings, which allow me to control the menu with WiiU Gamepad, but the Game itself with an other Controller like WiiMote or the Classic one.

Background to this: I want to control the menu, core change for example, while my Family is allowed to play Core specific Games.

Thank you for your attention

[2019-04-19 13:17] hizzlekizzle commented on #8604
works fine here. In fact, this line suggests that you're running windowed all the time:
`video_windowed_fullscreen = "true"`
Try setting that to false and see if it treats you any better.

[2019-04-19 13:34] orbea commented on #8605
Try the forum, discord or even irc.

[2019-04-19 14:02] bparker06 commented on #8598
Correct, and I don't know of any mainstream emulation product that does that either. We don't even know what the display's refresh rate is, there is no code to even check it.

[2019-04-19 14:14] leiradel commented on #8585
Could someone with everything in place try out [this branch](https://github.com/leiradel/RetroArch/tree/fix_memory_access)?

[2019-04-19 14:20] fr500 commented on #7830
So I guess the N:1 part could be done after all

![image](https://user-images.githubusercontent.com/1721040/56428055-aa5d7480-6283-11e9-9f75-6d4d25603e5e.png)

this is basically how controllers are paired in RetroArch
Problem right now is that the top option only selects what's on the Port 1.

Instead it should show `SNES Joypad (port #1)|SNES Mouse (port #1)|SNES Joypad (port #2)|SNES Joypad (por

[2019-04-19 15:20] orbea commented on #8177
@psyapathy Is this still an issue?

[2019-04-19 15:28] rzumer commented on #8585
I'd already tried changing it that way and it still crashed for me.

[2019-04-19 16:35] leiradel commented on #8585
So the core must be returning bogus information for its memory layout and there's nothing we can do to prevent crashes.

I've pushed another commit but that's only a code simplification. I'll make a PR since the current code is broken, and I suggest SameBoy fixes its memory map.

[2019-04-19 18:23] orbea commented on #8603
Seems @twinaphex fixed it here. :)

https://github.com/libretro/RetroArch/commit/1fb1b1bdb7855d86672b8e0f8673ee84fac0b12d

[2019-04-19 18:23] #8603 closed

[2019-04-19 18:44] deadbeef84 commented on #7818
Would like to see this fixed as well!

[2019-04-19 19:11] twinaphex commented on #8603
At last, glad to hear that nailed it.

[2019-04-19 19:25] leiradel commented on #8585
All callers of `cheevos_var_get_memory` check for a `NULL` return, so the PR is really good except that it can't prevent crashes if the core returns wrong information for the memory map or `retro_get_memory_data/size`.

[2019-04-19 22:19] Sonickyle27 commented on #8604
I thought the windowed fullscreen setting made no difference with vulkan? I'll try it anyway when I'm am my latop again tomorrow.

Is there anything else that could suggest why SNES cores specifically are causing this issue for me and not any of the other cores? I don't have any overrides set up for any SNES games that affect video settings.

[2019-04-20 10:14] Ryunam opened #8607 "[Feature request] "Most Played" tab (content sorted based on playtime log)"
Now that we have per-game playtime logging as per @jdgleaver's contributions (thanks a lot once again!), it would be interesting and akin to what happens on several systems - notably the 3DS and even the Switch to some extent - to have a tab that displays a list of content sorted by overall playtime.

A playtime diary basically, with content listed (and possibly numbered ) according to your playti

[2019-04-20 13:04] bparker06 commented on #8607
Would this be needed in addition to the history playlist, or is a sorting function for the history playlist sufficient?

[2019-04-20 14:11] SuperFromND commented on #5098
I can confirm that this issue is still present; tried to download `mame_libretro.so` from the menu on a Raspberry Pi 3, and it ended up reporting a `wrong ELF class: ELFCLASS64`.  The mame_libretro.so file provided by [the link r-type posted](http://buildbot.libretro.com/nightly/linux/armhf/latest/mame_libretro.so.zip) does not work on the Pi either; it also reports a `wrong ELF class: ELFCLASS64`

[2019-04-20 14:19] orbea commented on #5098
@SuperFromND I think this is either a buildbot or core issue and it should be taken up in one of those repos instead.

https://github.com/libretro/mame
https://github.com/libretro/libretro-super

[2019-04-20 16:38] hizzlekizzle commented on #8607
having an option to sort history by playtime seems like a good way to do it. Conversely, I thought having an option to automatically add your top 10 playtimes or whatever to Favorites would be similar.

[2019-04-20 17:00] Sonickyle27 commented on #8604
@hizzlekizzle I tried changing it to false but it has made no difference.

[2019-04-20 18:07] vadosnaprimer commented on #4904
The main problem here is that Retroarch won't return control to the user until a single frame has ended. If we have some logic mid-frame where we want user interaction, there's no way to interact. The example above is about debugging, you pause emulation mid-frame and want the user to decide whether emulation should be unpaused, or a single instruction should be executed. But there's no way to ret

[2019-04-20 18:34] hizzlekizzle commented on #8604
Ok, can you temporarily move your retroarch.cfg to another location and let it create a fresh one for you? If the problem persists, it's probably not fixable within RetroArch. My guess would be something external monkeying with vsync. A driver utility, perhaps?

[2019-04-20 18:43] Ryunam commented on #8607
I'll say my preference although of course this is open to debate. My idea is to have it a separate tab, because Favourites, History and this new implementation would then serve three different and equally useful  purposes:

- History is for the latest content you have run (a purely chronological list);
- Favorites is the content you particularly liked and manually chose to include;
- Most Played w

[2019-04-20 19:30] hizzlekizzle commented on #8607
the problem i see with adding more tabs is that people already complain about the number of tabs.

[2019-04-20 19:51] Ryunam commented on #8607
I understand your concern. At the same time, people do complain about virtually everything and this aspect could easily be remedied by making the “Most Played” Tab:
- not visibile by default (manually toggleable);
- and most importantly be displayed only if total per-content playtime logging is enabled (another option that is OFF by default right now).

[2019-04-20 21:35] orbea commented on #8607
I think a `Most Played` tab is the cleanest sounding solution, it should of course include a toggle to enable/disable it.

[2019-04-20 21:46] BarryJRowe commented on #5838
As an update, I'm still working on the tesseract text extraction to make it a bit smarter, but it's coming along.  Most of the code left in the RetroArch repo that needs to be modified is around stability on different platforms, and the XRGB8888 conversion stuff I mentioned before.  Anyone willing to help debug some issues are welcome to contact me over the discord channel (nick: Beaker).

[2019-04-20 22:29] Sonickyle27 commented on #8604
I just tried that and the issue went away. After some mucking around with the video driver setting in RetroArch, it appears that the issue only happens with vulkan. With gl which is the default, the issue does not happen. d3d9, d3d10, d3d11 and d3d12 don't show this issue either.

Regarding if anything external could be affecting it, I can't think of anything that I have installed that could inter

[2019-04-20 22:35] hizzlekizzle commented on #8604
This person had the same symptoms and said it was an issue with having 'sync to exact content framerate' enabled:
https://www.reddit.com/r/RetroArch/comments/an91ym/when_using_the_vulkan_driver_at_fullscreen_the/
You don't have that enabled, by chance, do you?

[2019-04-20 22:52] Sonickyle27 commented on #8604
Oh yeah, that's a lot smoother now after turning that setting off. Thanks! Looks like I'm going to have to set up a core override for that then.

I find it odd though that it only happens with SNES cores though... Perhaps there's something with the refresh rate of SNES games that is conflicting with the vulkan driver or something idk. Would it be worth filing a separate issue reporting this?

[2019-04-21 00:32] hizzlekizzle commented on #8604
Most consoles have a refresh rate <60 Hz, while SNES' refresh rate is just slightly above 60 Hz. If your monitor is capped at 60 Hz, it won't be able to keep up.

However, that option is only intended for use with variable refresh-rate (VRR) monitors (i.e.g, g-sync/freesync). If you're using regular fixed refresh rates, that option will prevent RetroArch from using its normal syncing processes.

[2019-04-21 01:27] retro-wertz commented on #8582
any update on this? after this has been merged, https://github.com/RetroAchievements/RAIntegration/pull/366, i cant get the achievement to work anymore. even following the new mapping (bank 0 @ $C000 (fixed bank), bank 1 @D000, bank 2-7 @ $10000)

[2019-04-21 05:54] vadosnaprimer commented on #4904
I looked into it a little bit, it seems this is all that's needed:
- Add a callback that a core could trigger, with just `task_queue_check()` in it.
The core could then trigger it in a loop as many times as needed, and then use some logic to determine when to stop calling it. Thoughts?

[2019-04-21 05:59] twinaphex commented on #4904
Could you make a working proof of concept of this? It could be done in any core you'd like where you think the usefulness of this could be best illustrated.

[2019-04-21 07:46] ofry opened #8614 "Compilation w/ Wayland fails in Ubuntu 19.04"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

Compilation with default configuration (so, with Wayland) fails in KUbuntu 19.04

### Expected behavior

Compilation should be fine

### Actual behavior

[code]

### Steps to reproduce the bug

1. [F

[2019-04-21 09:52] torben656 opened #8615 "mGBA core doesn't save in Duel Masters - Kaijudo Showdown"
The VBA-M core saves the game, but the mGBA core doesn't. Tested on nightly and stable.

[2019-04-21 11:36] jdgleaver commented on #8607
I quite like this idea.

I'm currently away for Easter week and won't be writing any code, but if no one else wants to work on this I don't mind adding it to my TODO list for when I get back.

[2019-04-21 13:54] orbea commented on #4904
One important thing to accomplish with any such idea is backwards compatibility, it would be good to make sure new cores continue to work with old frontends and vica versa.

[2019-04-21 13:55] orbea commented on #8614
Would you mind finding the first bad commit?

[2019-04-21 13:57] orbea commented on #8615
Does it work with the standalone mgba? This sounds like a core issue, please make an issue for the mgba repo.

[2019-04-21 14:36] orbea commented on #8614
Nevermind, I bisected it.
[code]
7b3be5eddf6c1a1c1a9f30c4c0eb3eaf1f1fa96f

[2019-04-21 14:38] torben656 commented on #8615
It works on the standalone mGBA.

[2019-04-21 14:41] RobLoach commented on #8615
What platform? How to reproduce? You seem to have removed the issue template that asked these questions.

[2019-04-21 14:55] orbea commented on #8614
I submitted a PR to fix this. https://github.com/libretro/RetroArch/pull/8616

Can you later check to make sure it still works during runtime?

[2019-04-21 14:59] orbea commented on #8615
If its broken with the libretro core and works with standalone I think this is the correct issue tracker.

https://github.com/libretro/mgba/issues

I see the repo doesn't appear to be currently up to date, could it be fixed if it was updated?

@endrift Might know more about this specific issue?

[2019-04-21 15:00] ofry commented on #8614
@orbea Sorry, I can't, because this machine configured for X only :(

[2019-04-21 15:03] orbea commented on #8614
No worries.

@Sunderland93 Would you mind testing wayland during runtime later to make sure it hasn't regressed? I also have a X only system...

[2019-04-21 15:18] Sunderland93 commented on #8614
@orbea Sorry, I don't have a Wayland setup currently

[2019-04-21 15:26] orbea commented on #8614
Thanks for replying, I guess we can just wait and see if anyone complains about new issues. :)

[2019-04-21 15:54] #8615 closed

[2019-04-21 16:28] #8614 closed

[2019-04-21 17:59] fr500 opened #8618 "Crash on netplay start with discord integration enabled"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

RetroArch is sometimes crashing when starting a netplay host with discord integration enabled

### Expected behavior

It shouldn't crash

### Actual behavior

[What is actually happening]

### Steps

[2019-04-21 17:59] fr500 commented on #8618
[code]

[2019-04-21 17:59] fr500 commented on #8618
I figure this may be due to recent changes in playlists?
Hadn't seen this happen before at least

[2019-04-21 18:03] fr500 commented on #8618
[code]

[2019-04-21 18:43] fr500 commented on #8618
Hmmm not sure why this is happening but instead of picking the right playlist in playlist_get_cached() it's getting my video playlist:

![image](https://user-images.githubusercontent.com/1721040/56474139-4382bb80-643b-11e9-9871-b7f284e956d5.png)

![image](https://user-images.githubusercontent.com/1721040/56474140-48e00600-643b-11e9-8b80-939fd318b271.png)

So it's not finding the entry and then cra

[2019-04-21 18:45] fr500 commented on #8618
@bparker06 do you have any idea of what `playlist_get_cached()` is supposed to do?

[2019-04-21 18:47] orbea commented on #8618
It might help to know when this started.

[2019-04-21 18:50] huwpascoe commented on #7419
@markwkidd I believe the bounty is now satisfied, please could you close this issue so I may collect?
I'll continue to rebase the PR until it's merged and provide ongoing layout-related support in my spare time. Thank you.

[2019-04-21 19:05] Sonickyle27 commented on #8604
My monitor built into my laptop is a FreeSync monitor at 40Hz-60Hz.

[2019-04-21 19:05] andiandi13 opened #8619 "[PLAYLISTS] Add an option to use DETECT instead of CRC"
Many many, many users complains about RetroArch not adding files to their playlists because the CRC doesn't match the original dump.

It can be because of a translation patch, an SRAM patch, and so on...

So I suggest a very simple solution :

Just add an option in playlist menu that could be named '_Ignore CRC while scanning roms_' or '_Add unknown roms to playlists_', whatever.

The thing is tha

[2019-04-21 19:57] bparker06 commented on #8619
Why not just use the playlist manager in the desktop menu? It doesn't use the scanner.

[2019-04-21 20:06] andiandi13 commented on #8619
@bparker06 What is desktop menu ? Is it the menu that opens with F5 on Windows ?

I mainly manage my Playlists on my Nintendo Switch, I guess there isn't that menu ?

I understand your point, but you can add it as an hidden option that would appear if advanced settings are enable. Advanced settings for advanced users.

Yes there arr bad dumps, but most of players also have goods dumps + patched ve

[2019-04-21 20:09] bparker06 commented on #8619
One of the problems with this is that there's no way to associate database entries/metadata or thumbnails with playlist entries that don't match checksums, I would consider this a bad UX and defeating the point of working towards a "beautiful playlist".

[2019-04-21 21:11] MarkMSX opened #8620 "MAME Core No Run-Ahead Support"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

Currently the MAME core of retroarch has no run-ahead support, unlike FBA and many other cores. This issue is relevant because the MAME core is laggy compared to original hardware (about two extra fr

[2019-04-21 21:30] andiandi13 commented on #8619
I don't really understood your message, but, why can't RA act like RetroArch Playlists Manager ?

It takes the file name and put it as a displayed title, so that thumbnails can match that name.

e.g. Mega Man Zero (Europe).gba will be Mega Man Zero (Europe), and will read Mega Man Zero (Europe).PNG as a boxart.

Here, it will scan filenames and copy the name as a title in the .lpl file, and refers

[2019-04-21 21:37] bparker06 commented on #8619
It could, but not everyone's roms are already named properly, and they don't want to rename them. Matching based on checksum fixes that issue.

If the roms aren't named properly then thumbnails won't work. And when you scan without the database, even if the name is correct, it won't know which folder to look in for thumbnails.

[2019-04-21 23:04] andiandi13 commented on #8619
That's why I suggested to make it an option and not forcing people to rename their roms. It's just adapting to multiple users.

Yes, but it's a small trade-off for having user friendly playlists IMO...

RA can't create a playlist based on the extension ?
For instance well named .sfc files would be added on 'Nintendo - Super Nintendo Entertainment System.lpl' with DETECT lines.

[2019-04-22 00:03] fr500 commented on #8619
Thumbnails shouldn't work like this anyway.
For the packs or on-demand downloads (https://github.com/libretro/RetroArch/pull/8490) forcing filename is fine I guess.

But in the end the playlist format should be able to reference an arbitrary thumbnail filename.
That way on both GUIs we could have an option to link a thumbnail that is not on the thumbnails folder or isn't part of the packs.

The wh

[2019-04-22 00:11] andiandi13 commented on #8619
Why not, but it'd be a hundred time longer than manually creating playlists on a PC.

I also thought about adding roms to playlists according to their unique header/informations so that an header can be linked to a name on the database. But I guess it'll require to recreate an entire database.

[2019-04-22 01:00] neuromancer commented on #5411
I tried the latest revision (c38ed7f843752dd0ae443f16cb04ae9254baa68b) and Favorites are showing boxart/tilescreen/screenshot and the playlist name (instead of the filename). I don't know who or when it was fixed, but great job guys!

[2019-04-22 01:00] #5411 closed

[2019-04-22 03:10] hizzlekizzle commented on #8604
Ok, yeah, a core override to disable the 'sync to exact content framerate' is a good solution in that case. Shall we close this issue?

[2019-04-22 05:23] i30817 commented on #8619
Here is a intense (but terrible) newflash:

CRCs are already ignored when scanning many many roms types - for serials. Among other things this means that contributing to the libretro-database romhacks CRCs is completely useless.

If anything what i want is the exact opposite of this feature.

[2019-04-22 05:30] grant2258 commented on #8620
this is core issue not a RA issue

[2019-04-22 05:41] twinaphex commented on #8619
Please stop being so negative.

Send us PRs to deal with these issues. The communication couldn't have been clearer. No walls of text are going to fix anything here on its own.

[2019-04-22 05:45] i30817 commented on #8619
I opened the issues for about, oh 1 year? Possibly more. You yourself even mentioned 'uh maybe we shouldn't do this guys' on one of the worst examples and then marked the bug as 'minor'.

https://github.com/libretro/RetroArch/issues/7455#issuecomment-430884329

So no, i'm not going to do your features for you. I just thought it especially precious that people are so misinformed about this that the

[2019-04-22 05:50] twinaphex commented on #8619
Stop being abrasive and show some respect. Last warning before I get Github moderators involved in here. Any kind of passive aggressive nonsense you can leave at the door from now on, keep it strictly focused on the factual and behave yourself.

[2019-04-22 05:58] i30817 commented on #8619
Here's the facts:

RA is using serials, which lead to duplicates. It's also ditching certain emulator specific configurations of roms, lke MAME split sets (which could be supported by just taking the crc of the main game archive)

This is still not enough to both fuzzily 'identify' certain games (games are missing), so people are asking for even more fuzzy filenames. I disagree with this because i

[2019-04-22 05:58] twinaphex commented on #8619
My response to this is still going to be the same - make a Proof of Concept PR, if it's good, we can merge it. Our resources are already spread way too thin, and you are seeing armies of developers that are simply not there. This is the realities of an open source project - change happens at home, and if you want to see who is going to be leading that change, look in the mirror for the guy who cou

[2019-04-22 06:05] twinaphex commented on #8619
Alternatively, start a bounty and add some money to it so these issues can be incentivized so we can find a developer who WOULD like to take this on.

[2019-04-22 06:51] Vercalos opened #8622 "Cheat Search doesn't function properly on Nintendo Switch"
## Description

A variety of issues boiling down to the cheat search not working

### Expected behavior

When searching for a value, returning addresses that match that value

### Actual behavior

Varies depending on the core, but none of the ones I've tried seem to function properly

In [SNES9x] and [SNES9x2010] cores:
Any attempted search yields the same results.
1-bit, 2-bit, 4-bit, 8-bit, and

[2019-04-22 07:30] grant2258 commented on #8619
unfortunately this is true with a project with a patreon . Developers will be less inclined to do the work without a bounty being involved.

[2019-04-22 07:42] twinaphex commented on #8619
I'm terribly sorry @andiandi13, but your issue was hijacked by two people in particular who really should have known better and who only seemed to participate in this thread to start drama and air grievances. Please open a new issue and I'll make sure this does not happen again and your issue will be properly heard.

To @grant2258 and @i30817, I warn you for one last time - don't do this again.

[2019-04-22 13:33] Ryunam opened #8623 "[Windows x64] Crash when manually replacing Boxart through Qt UI and then launching content"
## Description

I am currently experiencing a crash when manually replacing any Boxart through the Qt UI and then launching the corresponding content from RA Fullscreen (Ozone Menu driver).

### Expected behavior

Content should launch regularly.

### Actual behavior

When selecting Run Content after manually replacing the Boxart through the Desktop Menu (Qt UI), RetroArch crashes immediately.

##

[2019-04-22 14:51] orbea commented on #8622
Is this switch only?

[2019-04-22 15:14] orbea commented on #8623
Would you mind confirming if this happens with any menu driver?

[2019-04-22 15:38] scales11 commented on #7472
I have this same problem on a minimal server install.  So far I have been unable to figure out a way to stop the laptop from going to sleep.

Does anyone have a fix?

I followed the directions here to setup my system:
https://retropie.org.uk/forum/topic/18810/retropie-installation-on-ubuntu-server-x64-18-04-1

[2019-04-22 15:43] orbea commented on #7472
Can you explain what you mean by a `minimal server install`? I do not have this issue with KMS or the vulkan equivalent.

[2019-04-22 15:59] scales11 commented on #7472
Sure,

Minimal server install=
1. Boot off of Ubuntu server 18.04.2
2. Press F4 and select “minimal installation”
3. Install Ubuntu server

[2019-04-22 16:06] orbea commented on #7472
I'm sorry, I am not sure what that does. I have never used ubuntu before. What kind of environment does that give you? Is xorg or wayland running? Are any window managers or desktop environments running? Is it only tty?

[2019-04-22 16:34] scales11 commented on #7472
Thank you for your help.

This install does not include any sort or wayland.  I manually installed xorg when I followed the guide at the link I posted.

I used the following command from the guide:
sudo apt-get install xorg openbox pulseaudio alsa-utils menu libglib2.0-bin python-xdg at-spi2-core libglib2.0-bin dbus-x11 git dialog unzip xmlstarlet --no-install-recommends -y

[2019-04-22 17:42] orbea commented on #7472
So this is Xorg + openbox?

I think the likely reason is that you are missing all or some of `xdg-screensaver` and dependencies which would prevent the screen from blanking when using RetroArch.

I am not very familiar with ubuntu so I am not sure what specific packages you would need to install.

Another possible issue is that you must make sure the screensaver suppression is enabled. In `~/.conf

[2019-04-22 18:52] scales11 commented on #7472
Thank you very much, that helps!

I am familiar with the xdg-screensaver package, I will install it and check the setting file you mentioned.

[2019-04-22 20:14] #8619 closed

[2019-04-22 20:15] pralima87 commented on #4507
Really so I need to rename each ROM? This is very conter-intuitive ;(

[2019-04-22 20:17] andiandi13 opened #8624 "[PLAYLISTS] Add an option to scan unknown roms"
[ISSUE UPDATED] The other one was blocked

Many many, users complains about RetroArch not adding files to their playlists because the CRC doesn't match the original dump.

It can be because of a translation patch, an SRAM patch, and so on...

So I suggest a very simple solution :

Just add an option in playlist menu that could be named '_Ignore CRC while scanning roms_' or '_Add unknown roms to pl

[2019-04-22 21:11] i30817 commented on #8624
I should apologize. I misread the previous issue and thought it was about 'disabling CRCs' when i already knew the CRCs weren't used anymore and was pissed about it. To be constructive i suggest using 'Add unknown roms to playlists' for this reason.

However, i'm not sure it's that easy to make a 'match' of a rom to a image/data with a filename. They're not unique not only because of hacks but bec

[2019-04-22 21:51] andiandi13 commented on #8624
What about the header ?
When I check roms header I see the name and other infos.

e.g. if the header is FINAL FANTASY TACTICS and the extension is .gba, then it must recognize it has FF tactics gameboy advance and match the thumbnail and the title in the db.

It's funny how easy it is to create manual playlists on a PC, but seems to be very hard to do it directly on RetroArch :/

[2019-04-22 22:02] i30817 commented on #8624
For roms, they habitually can be easily be recognized by the extension so parsing that is 'fixed' to a implementation (well there are complications on consoles like the N64 that liked to byteswap words, but you generally can trust the extension).

For cd consoles however, cd-images have a proliferation of formats and meta-formats.

You generally can trust the dumping groups to use the same format

[2019-04-23 01:51] fr500 commented on #8624
@andiandi13 sorry but your request makes little sense.
If it can't identify the content, the resulting playlist will be nothing more than a list of files.

If you want a list like that may as well just browse to the folder.

[2019-04-23 02:09] fr500 commented on #8618
TA's workaround works but it's still using the wrong playlist.

[2019-04-23 02:14] fr500 opened #8625 "Rewind is getting enabled even if disabled in settings after the following course of events"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

Rewind is getting enabled in some cores even though the setting is disabled.
Seems related to achievements, I have never noticed this before and I don't really have time to bisect now.

### Expected

[2019-04-23 02:29] fr500 commented on #8625
It's due to overrides rather than achievements, and it's actually not a fault of overrides but a bug in how quick switching content works.

Detailed explanation:

[code]

[2019-04-23 02:34] fr500 commented on #8625
There are plenty of these cases all along the codebase.
Another example:

[code]

[2019-04-23 02:54] andiandi13 commented on #8624
lol

More seriously. Here is an example of a playlist that I want RetroArch to make :

[code]

Let's take the problem line by line :

1. Can RetroArch list all files in a folder to a playlist, rather based on a know extension, or not ? YES
2. Can RetroArch copy the filename to the title ? YES
3. 4. 5. Can RetroArch write DETECT ? YES
6. Can RetroArch match a console with a file do determine what f

[2019-04-23 05:46] i30817 commented on #8624
I honestly agree with that idea that the user should be able to start a 'dumb' scan on a folder and the resulting files should either be assumed (per directory name) or chosen to go a console playlist manually (per GUI) Users that are organized already place their games per platform on the filesystem.

But i think the RA team would rather find and fix the reason why some games aren't scanning corr

[2019-04-23 07:01] Sonickyle27 commented on #8604
Yeah I'll close it. I feel that this issue w

[2019-04-23 07:01] #8604 closed

[2019-04-23 08:57] Vercalos commented on #8622
Honestly, I don't know.  I've not attempted to use Retroarch's cheat search on other platforms.

[2019-04-23 13:35] scales11 commented on #7472
Well I am impressed, once I installed “xdg-utils” my screensaver/timeout was fixed.

I also noticed that with the install method I chose I do not have a ~/.config/retroarch/retroarch.cfg file.  Could this file be somewhere else?

Thank you orbea for your help!

[2019-04-23 13:48] orbea commented on #7472
Glad to hear that!

In the RetroArch menu navigate to `Settings -> Directory -> Config`, it should tell you exactly where its being saved.

[2019-04-23 13:54] ofry commented on #7603
@orbea Could you give me additional info, for example, give IRC log on any pastebin service?

[2019-04-23 13:56] ofry commented on #7603
Updated OS to KUbuntu 19.04

Valgrind 3.14 logs with latest master:

[valgrind_log_with_gl1_mesadbg_glxdbg_23.04.2019.log](https://github.com/libretro/RetroArch/files/3107850/valgrind_log_with_gl1_mesadbg_glxdbg_23.04.2019.log)
[valgrind_log_with_gl_mesadbg_glxdbg_23.04.2019.log](https://github.com/libretro/RetroArch/files/3107852/valgrind_log_with_gl_mesadbg_glxdbg_23.04.2019.log)
[valgrind_log_w

[2019-04-23 14:03] andiandi13 commented on #8624
Yeah as soon as we have the choice of scan type, it's OK.

Let's wait what the devs will think about it :)

[2019-04-23 14:40] orbea commented on #7603
I haven't an idea. My issue is a valgrind bug specific to AMD cpus.

[2019-04-23 14:51] ofry commented on #7603
@orbea Are you mean all x86-64 family?

![Screenshot_20190423_175022](https://user-images.githubusercontent.com/11790863/56590866-74f0b800-65f0-11e9-98e2-2a3acf551e55.png)

[2019-04-23 15:03] orbea commented on #7603
No, I mean certain CPUs made by AMD the company. You have a CPU made by intel and my issue certainly does not affect you, although its possible you could have similar, but different issues. Or this could be entirely unrelated, I'm not sure. You're going to need someone more knowledgeable to understand your issue...

[2019-04-23 15:54] orbea commented on #7603
I asked on the valgrind irc channel and while this kind of is a valgrind bug that using `-march=` with valgrind is a mistake. The assumptions made with `-march=` will not be neccesarily valid with valgrind on a conceptual level.

I am going to close this as won't fix, but it may be possible that valgrind could fix it in the future.

[2019-04-23 15:54] #7603 closed

[2019-04-23 16:46] hizzlekizzle commented on #8624
Simple directory listing seems to be what most people want out of the playlists, but they also want boxart/thumbnails, and that's where the problem comes in. That is, hooking things up when we have no way of knowing what's what. We can do fuzzy matching, but then we have to add a bunch of stuff (menus, etc.) to correct false positives.

[2019-04-23 16:51] hhromic commented on #8191
@orbea  I'm going to close this issue for now, if I find more warnings I will simply send PRs for revision and merging :)  Cheers!

[2019-04-23 16:51] #8191 closed

[2019-04-23 17:25] andiandi13 commented on #8624
@hizzlekizzle As I said, you just have to rename your rom the same name as the thumbnail

[2019-04-23 18:18] i30817 commented on #8624
Naively I also don't understand 'why' it would require new GUI screes. If the cd images get classified correctly as 'for a console' and the filename is correct. Find that during the new scan mode, store the entry on the playlist, when loading images find what playlist the entry comes from, and the name, pass to the database the tuple.

In practice, the bugs on that heuristic(s) that find out the c

[2019-04-23 18:38] i30817 commented on #8624
edit: accidentally deleted a post, but tl;dr: if using a the tuple (console-type, rom filename) the false negatives could be controlled to the minimum if the users are smart enough to name things the same as the dump sets; and i don't really see why that would require new GUI. You can make users select the first manually ofc, but you already need those heuristics to even start scanning serials bec

[2019-04-23 22:07] TheFlyingDonut opened #8627 "Retroarch crashing soon after game launch"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

[Description of the bug]

When I try to play any dreamcast game with the reicast core, the dreamcast logo/bios runs fine and the game itself launches thereafter, however the touch screen controls bec

[2019-04-24 00:18] orbea commented on #8627
Is this only with reicast?

[2019-04-24 00:23] orbea commented on #8619
Just adding a link to the new issue for reference.

https://github.com/libretro/RetroArch/issues/8624

[2019-04-24 06:47] ofry commented on #7603
Why you set it as "won't fix"? Are you certainly (100%) sure it's valgrind bug?

[2019-04-24 06:47] ofry commented on #7603
@orbea

[2019-04-24 11:53] stoofin commented on #7887
When [dynamically loading the Vulkan Loader](https://github.com/libretro/RetroArch/blob/247d427ea4578bc1bc2d14d45979ed1a1be39587/gfx/common/vulkan_common.c#L1966), would specifying or falling back to "libvulkan.so.1" on linux (but not android) be a bad idea?  It seems like libvulkan.so isn't guaranteed to be around, even when vulkan is available.  This is the approach taken by a few other projects

[2019-04-24 13:35] orbea commented on #7603
@ofry I have no idea about your issue other than its not the same issue as mine. I am certain that my issue is a valgrind issue where I am doing things that make it conceptually hard for valgrind (`-march=`). There is nothing to fix in RetroArch on my end.

Feel free to make a new issue for your valgrind problems.

[2019-04-24 13:41] orbea commented on #7887
That is not a good solution, checking for `libvulkan.so.1` would break the vulkan check if upstream ever changes it to `libvulkan.so.2` or something else.

This is a distro issue and it should be fixed for the distros. This comment from one of your links is relevant.

https://github.com/BeRo1985/pasvulkan/issues/13#issuecomment-426711332

[2019-04-24 17:03] vadosnaprimer commented on #4904
It would be easy to demonstrate if there's a way for a core to declare custom hotkeys for a client (as opposed to internal controls for the emulated system). Is it possible?

[2019-04-24 18:21] fr500 commented on #4904
Nope

On Wed, Apr 24, 2019, 12:03 feos <notifications@github.com> wrote:

[2019-04-24 21:12] hizzlekizzle opened #8630 "[Feature Request] more intuitive way to disable shaders"
## Description

Currently, it's pretty unintuitive for users to disable shaders once one is activated. That is, press start on the number of passes to return them to 0, then go up and hit 'apply changes'. We have a config option for video_shader_enable = true/false, so it would be much more convenient and intuitive to have that option exposed at the top of the shader menu.

### Expected behavior

[2019-04-24 21:44] TheJobs1 commented on #3946
Hey @natinusala, thanks for the update. I have a question if you don't mind. Is there any way to change place notification? Don't work well with overlay preset. Sorry for my bad english and thanks again.

[2019-04-24 22:31] natinusala commented on #3946
There is none currently but be assured that it's planned ;)

[2019-04-25 06:15] ofry opened #8632 "Retroarch crashed when started in valgrind (VMWare products)"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description

Retroarch crashed when started in valgrind (when running inside VMWare products)

### Expected behavior

Retroarch should not crash.

### Actual behavior

[valgrind_nightly_log_with_gl_mesadbg_glxdbg

[2019-04-25 09:33] klepp0906 opened #8633 "Bug with history/playlist setting aggregate vs per core"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description
(I think) Purely aesthetic bug with the subtext choice under history/playlist settings

[Description of the bug]
The default setting is "per core" yet when you click to expand/alter it shows aggregate

[2019-04-25 09:40] klepp0906 opened #8634 "[feature request] new time layout/option"
Apologies if this is the wrong place.  Several medium's for this and ive found feature requests in all of them.

I noticed in the past several formats for the time in the upper right corner have been added.  However my preferred (and i imagine most americans preferred) has seemingly been missed.

We have an option for month/date/time  but its month/date/military time(24hr) time.

I'd like month/da

[2019-04-25 10:40] klepp0906 opened #8635 "Bug with history showing double and no thumbnails when launched from shortcut"
# First and foremost consider this:
- Only RetroArch bugs should be filed here. Not core bugs or game bugs
- This is not a forum or a help section, this is strictly developer oriented

## Description
Launching a rom directly from a steam shortcut (made with SRM fwiw) adds a second (double) history entry which lacks the thumbnail relative to launching from directly within RA which adds the same ent

[2019-04-25 11:06] gouchi commented on #8634
- [Code pointer](https://github.com/libretro/RetroArch/pull/7332/files)

[2019-04-25 12:01] jdgleaver commented on #8633
Hmm... From a quick glance at the code, this seems to be caused by commit f3a31ffd8d6822fe9fe9ecf7651b0ccba642f8fa.

I would have a go at fixing this, but I won't have access to a computer until Monday...

[2019-04-25 13:36] orbea commented on #8632
It could be, the bug may not be in either valgrind, RetroArch or mesa. Its hard to say, I wouldn't rule anything out.

Looking at the log again I would guess its related to glibc and most of the code shown in your log is not in RetroArch.

[2019-04-25 13:55] WeedyWeedSmoker opened #8636 "Shaders not working on iOS"
Commit b347b26d61ac6144e72d120896042f4ae06f4421 breaks shaders on iOS 11 & 12...

Reverted this commit by hand and now shaders work fine again !

Sadly, this commit is definitely a regression...

[2019-04-25 14:08] orbea commented on #8636
How are shaders broken for you?

[2019-04-25 15:38] eugene-s-nesdev commented on #6903
Very nice.
Lastest nightly retroarch builds have GL1 support:
video_driver = "gl1"
and it works like a charm on that eeepc netbook.

I tested bluemsx, fceumm, gambatte, mgba, genesis-plus-gx, mednafen_pce_fast, snes9x, mesen, quicknes and nestopia cores. It works all, except nestopia, that gives black screen with sound working.

[2019-04-25 15:58] RobLoach opened #8637 "[Config] Set Default Paths at Compile Time"
## Description

RetroArch has a set of directory paths that are loaded by default. These can be changed and overridden in retroarch.cfg, but it would be great if we could set the default paths during compilation.

This would ease the use of RetroArch when the default paths are to be changed. [org.libretro.RetroArch](https://github.com/flathub/org.libretro.RetroArch) currently injects a `retroarch.

[2019-04-25 16:05] Ferk commented on #8624
I don't understand in which way such an option would require having `DETECT` in the playlist in place of the crc.

If such an option (adding unknown roms) was added I would expect that the scanning process would generate the crc from the file and save that crc into the playlist, not `DETECT`. Maybe the only thing you would gain is some speed in the scanning, but speed wasn't the problem you were t

[2019-04-25 17:24] ofry commented on #8632
ASAN log (just starting Retroarch, then closing):

[code]

[2019-04-25 17:47] andiandi13 commented on #8624
It's kinda like what I suggested in my third post (first idea).

If RetroArch see a file named "Sega - Game Gear.retroentry" (to keep your nomenclature) in a folder, then it will add all the content of that folder to a playlist named Sega - Game Gear.lpl, whatever roms are in the folder.

Or.... Just based on the extension.

It's really easy

[2019-04-25 17:56] Ferk commented on #8624
Making it based on extensions would complicate things.
It's not a good thing to let the scanner try to be too smart, because then you risk it doing dumb things. Not every ISO/EXE/BIN file is game content, and not every game content is just one file.

I think it's better to keep things simple but flexible. Just allowing the users to have playlists within their content folders that contain paths rel

[2019-04-25 18:26] orbea commented on #8632
This only happens inside a virtual machine? Can you try on native hardware?

[2019-04-25 18:35] andiandi13 commented on #8624
Yes of course, there is an obvious issue with many extensions, the idea of a small "detection" file is good imo

[2019-04-25 18:55] orbea commented on #8637
Have you looked at `./configure --help`?
[code]

[2019-04-25 18:58] vadosnaprimer opened #8638 "Custom hotkeys defined by cores"
Sorry for not following the template as it's not a bug, but a feature request that might need some high level pondering. I recently asked if this feature exists, and I was told that it doesn't.

Will it be possible to allow cores declare client/UI hotkeys in addition to internal controls that they get from the client? The latter means the emulated system gets emulated input, while the former means

[2019-04-25 18:59] i30817 commented on #8624
The scanner is 'already' too smart. What you're complaining about here already occurs and must occur to scan for serials.

[2019-04-25 19:03] orbea commented on #8635
I can reproduce this in linux with the following.

1. Start any game from the menu so it ends up in the history list.
2. Start the same content/core from the command-line with: `retroarch -L /path/to/core /path/to/content`
3. A duplicate entry is added to the history playlist.

@jdgleaver This one might be easy for you when you have a chance. :)

[2019-04-25 19:07] orbea commented on #8638
How would this work? A core should not have any knowledge of which frontend is running, there are several libretro frontends besides RetroArch.

[2019-04-25 19:09] vadosnaprimer commented on #8638
Should I move this to some other repo? It's a general libretro request I think.

[2019-04-25 19:18] klepp0906 commented on #8635
minor!  minor you say!  You must not be ocd ;p

but in all seriousness, thank you for looking into it.  Ive dealt thus far, I can deal until its addressed.  Ive been putting a much more substantial amount of time into curating an RA setup and this is one of those things ;p

I imagine watching this thread will be the best way to be updated as to when it gets fixed?

[2019-04-25 20:02] orbea commented on #8635
I tagged it minor because its annoying more than anything else rather than something like a crash which is just a deal breaker. Though I agree it would be nice to see this fixed finally!

[2019-04-25 20:03] orbea commented on #8638
I'm not sure honestly, the libretro-common repo might be more relevant but I am not sure if anyone will respond there.

[2019-04-25 21:58] WeedyWeedSmoker commented on #8636
The shaders option just doesn't appear in the app menu since this commit, and appear fine after removing it

[2019-04-25 23:25] orbea commented on #8636
@twinaphex Can you please look at this?

[2019-04-25 23:57] ghost opened #8639 "edit"
edit

[2019-04-26 00:22] twinaphex commented on #8636
Sure, I can take a look.

[2019-04-26 00:28] twinaphex commented on #8636
@WeedyWeedSmoker

See if this fixes it -

https://github.com/libretro/RetroArch/commit/1f53eea4ee980cc26a8cef385944521ab2052e82

[2019-04-26 00:57] WeedyWeedSmoker commented on #8636
Wow, that was quick !

It fixes it beautifully, @twinaphex, thanks !

_BTW, as an unrelated note, the "Release" configuration for the iOS 10 and iOS 11 pbxproj doesn't include "../../deps/rcheevos/include", which makes it fail at compilation time... The iOS 10 and iOS 11 static seem to be missing way more files..._

[2019-04-26 01:04] orbea commented on #8636
It might be worth adding iOS to travis to catch these problems. I think it should be possible, but as I don't know much about the iOS build process it might be better if someone who used that platform helped there. :)

Could you make a new issue for this at least?

[2019-04-26 01:09] WeedyWeedSmoker commented on #8636
@orbea Ok ! I'll close this issue then...

[2019-04-26 01:09] #8636 closed

[2019-04-26 01:12] WeedyWeedSmoker opened #8640 "iOS 10 & iOS 11 projects missing files"
The "Release" configuration for the iOS 10 and iOS 11 pbxproj (inside the Xcode projects) doesn't include "../../deps/rcheevos/include", which makes them fail at compilation time...

The iOS 10 and iOS 11 static seem to be missing way more files, not only in the "include" section...

[2019-04-26 01:30] twinaphex commented on #8636
@orbea Good idea about adding iOS targets for Travis.

[2019-04-26 01:32] Menelkir opened #8641 "RetroArch in mac use internal application to store downloadable content"
## Description

RetroArch store a lot of things inside the /Application/RetroArch.app/ app bundle, such cores, joystick profiles, etc.

### Expected behavior

For a batter practice, it should use ~/Documents/RetroArch so nothing is lost when you update the application

### Actual behavior

Cores, joypad profiles, shaders and even the main retroarch.cfg is stored inside /Application/RetroArch.app

[2019-04-26 02:07] twinaphex commented on #8641
Added this, hope it helps -

https://github.com/libretro/RetroArch/commit/c9caa5c39b9e56a50be5291e6d11ccfacb0f5eda

[2019-04-26 02:50] twinaphex commented on #8640
See if this solves the issue -

https://github.com/libretro/RetroArch/commit/c9caa5c39b9e56a50be5291e6d11ccfacb0f5eda

[2019-04-26 05:23] RobLoach commented on #8637
Good to know assets is done. Need it for the following paths....

[code]

[2019-04-26 05:30] WeedyWeedSmoker commented on #8640
Thanks @twinaphex  !

You seem to have missed the "RetroArch_iOS10.xcodeproj/project.pbxproj" one, but the iOS 11 one is fixed !

Even after the fix though, all the other projects are missing references to "GCDWebUploader", "GCDWebServer", "WebServer" and many other files that are only referenced in the "RetroArch_iOS11.xcodeproj/project.pbxproj"

Affected projects are (even after the rcheevos fix

[2019-04-26 05:50] orbea commented on #8637
I don't think any of the other ones are implemented in the configure. I also would also like to see at least `video_filter_dir` and `audio_filter_dir` added.

For the others maybe a better solution would be to just modify the already installed `/etc/retroarch`? Most of those are probably better handled with tools like the online updater since they may be updated even when RetroArch isn't.

[2019-04-26 07:16] Ferk commented on #8624
That's unfortunate, but if the scanner is already imprecise for CD images that's more or a reason to allow the use of additional methods that allow users to override the behavior of scanning, like distributing playlist files within the content folders.

That way regardless of what the scanner is normally doing, the user has a way to define what does it want to get added, and at the same time it wo

[2019-04-26 07:31] RobLoach commented on #8638
You can declare Core options, and then have the Core act on those options... Unsure what you're trying to accomplish. I've done this in [ChaiLove](https://github.com/libretro/libretro-chailove) to allow flipping between high graphic quality and low.

[2019-04-26 08:41] i30817 commented on #8624
A new file in the game folder is a terrible solution to the problem of pointing RA to the game version. I'd seriously stop using RA if that was the only method, because it's already fucking terrible when it happens for scummvm because the RA scanner is sufficiently simple it can't emulate the scummvm parsing algorithm.

[2019-04-26 08:56] andiandi13 commented on #8624
Why do you talk about hundreds of files ?

I'm talking about one file per console/per folder.

In your Game Boy folder, named **Nintendo - Game Boy**, you put a **Nintendo - Game Boy.d detect** file.

In your Sony - PlayStation folder, you put a **Sony Playstation.detect** file, and so on.

All the files into each folder will go to a playlist named after the .detect file, whatever if it's .GB, .IS